<p-confirmDialog #cd [closeOnEscape]="true" [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <h3 class="text-white">Confirmation</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button label="No" icon="pi pi-times" styleClass="p-button-secondary" (click)="cd.reject()"></p-button>
    <p-button label="Yes" icon="pi pi-check" styleClass="p-button-danger" (click)="cd.accept()"></p-button>
  </ng-template>
</p-confirmDialog>
<p-table *ngIf="usersPage$.data | async as usersPage"
         [value]="usersPage.content"
         [rows]="rows"
         [rowHover]="true"
         styleClass="p-datatable-striped">
  <ng-template pTemplate="header">
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone</th>
      <th>Status</th>
      <th>Created</th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr class="bg-black text-white">
      <td>{{user.profile.email}}</td>
      <td>{{user.profile.firstName}}</td>
      <td>{{user.profile.lastName}}</td>
      <td>{{user.profile.mobilePhone}}</td>
      <td>
        <p-tag [severity]="getSeverityStatusTag(user.status)" [value]="user.status"></p-tag>
      </td>
      <td>{{user.created | date:'medium'}}</td>
      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success"
                (click)="edit(user)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger ms-2"
                (click)="delete(user)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator *ngIf="usersPage$.data | async as usersPage"
             (onPageChange)="fetchUsers($event)"
             [first]="first"
             [rows]="rows"
             [totalRecords]="usersPage.totalElements"
             [showCurrentPageReport]="true"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} users"
             [rowsPerPageOptions]="[10, 25, 50]">
</p-paginator>
<p-dialog [(visible)]="editUserDialog"
          contentStyleClass="text-white"
          [style]="{ width: '450px' }"
          [closeOnEscape]="true"
          [dismissableMask]="true"
          [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="header">
    <h3 class="text-white">User details</h3>
  </ng-template>
  <ng-template pTemplate="content">
    <form class="formgrid grid" (ngSubmit)="saveUser()">
      <div class="field col-12">
        <label for="email">Email</label>
        <input id="email"
               [ngClass]="{
                     'input-error': email.invalid && (email.touched || email.dirty),
                     'border border-3 border-success': email.valid && (email.touched || email.dirty),
                     'input-success': email.valid && (email.touched || email.dirty)
                     }"
               pInputText
               name="email"
               placeholder="email@example.com"
               minlength="5"
               maxlength="100"
               appEmail
               required
               autofocus
               [(ngModel)]="editedUser.profile.email"
               #email="ngModel"/>
        <small class="p-error" *ngIf="email.errors && (email.touched || email.dirty)">
          <div *ngIf="email.errors?.['required']">
            Email is required
          </div>
          <div *ngIf="email.errors?.['minlength'] || email.errors?.['maxlength']">
            Email must be within the range from 5 to 100 characters long
          </div>
          <div *ngIf="email.errors?.['isNotValid']">
            Email is not valid
          </div>
        </small>
      </div>

      <div class="field col-12">
        <label for="first-name">First name</label>
        <input [ngClass]="{
                      'input-error': firstName.invalid && (firstName.touched || firstName.dirty),
                      'border border-3 border-success': firstName.valid && (firstName.touched || firstName.dirty),
                      'input-success': firstName.valid && (firstName.touched || firstName.dirty)
                     }"
               pInputText
               id="first-name"
               name="firstName"
               placeholder="John"
               required
               maxlength="50"
               [(ngModel)]="editedUser.profile.firstName"
               #firstName="ngModel"/>
        <small class="p-error" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">
          <div *ngIf="firstName.errors?.['required']">
            First name is required
          </div>
          <div *ngIf="firstName.errors?.['maxlength']">
            First name must be up to 50 characters long
          </div>
        </small>
      </div>

      <div class="field col-12">
        <label for="last-name">Last name</label>
        <input [ngClass]="{
              'input-error': lastName.invalid && (lastName.touched || lastName.dirty),
              'border border-3 border-success': lastName.valid && (lastName.touched || lastName.dirty),
              'input-success': lastName.valid && (lastName.touched || lastName.dirty)
              }"
               pInputText
               id="last-name"
               name="lastName"
               placeholder="Doe"
               required
               maxlength="50"
               [(ngModel)]="editedUser.profile.lastName"
               #lastName="ngModel"/>
        <small class="p-error" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">
          <div *ngIf="lastName.errors?.['required']">
            Last name is required
          </div>
          <div *ngIf="lastName.errors?.['maxlength']">
            Last name must be up to 50 characters long
          </div>
        </small>
      </div>

      <div class="field col-12">
        <label for="status">User status</label>
        <p-dropdown [(ngModel)]="editedUser.status" inputId="status" name="status"
                    [options]="getAllUserStatuses()">
          <ng-template pTemplate="selectedItem">
            <p-tag [value]="editedUser.status" [severity]="getSeverityStatusTag(editedUser.status)"></p-tag>
          </ng-template>
          <ng-template let-option pTemplate="item">
            <p-tag [value]="option" [severity]="getSeverityStatusTag(option)"></p-tag>
          </ng-template>
        </p-dropdown>
      </div>

      <div class="field col-12">
        <label for="phone">Phone number</label>
        <ngx-intl-tel-input
          [preferredCountries]="[CountryISO.Ukraine]"
          [searchCountryFlag]="true"
          [selectedCountryISO]="CountryISO.Ukraine"
          [maxLength]="12"
          [separateDialCode]="true"
          [numberFormat]="PhoneNumberFormat.International"
          [(ngModel)]="editedUser.profile.mobilePhone"
          name="phone"
          inputId="phone">
        </ngx-intl-tel-input>
      </div>
      <div class="grid col-12 justify-content-end">
        <div class="field">
          <button type="button" pButton pRipple label="Cancel" icon="pi pi-times"
                  class="p-button-text p-button-secondary" (click)="hideDialog()"></button>
        </div>
        <div class="field">
          <button type="submit" pButton pRipple label="Save" icon="pi pi-check"
                  class="p-button-text p-button-danger"></button>
        </div>
      </div>
    </form>

  </ng-template>
</p-dialog>
