:host ::ng-deep .p-paginator,
:host ::ng-deep .p-dropdown {
  background: black;
}

:host ::ng-deep .p-paginator-element {
  font-size: 150%;
  color: white;
  border: white solid 1px;
}

:host ::ng-deep .p-paginator-rpp-options,
:host ::ng-deep .p-dropdown-label,
:host ::ng-deep .p-dropdown-trigger,
:host ::ng-deep .p-dropdown-items,
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th,
:host ::ng-deep .p-inputtext{
  background: black;
  color: white;
}

:host ::ng-deep .p-dropdown-items {
  margin: 0;
  padding: 0
}

:host ::ng-deep .p-dropdown-item.p-highlight {
  background: #292929!important;
  color: darkred!important;
}

:host ::ng-deep .p-dialog-header,
:host ::ng-deep .p-dialog-footer,
:host ::ng-deep .p-dialog-content {
  background: #191a22;
}

:host ::ng-deep .p-dialog-content {
  padding-bottom: 0;
}

:host ::ng-deep .p-confirm-dialog-icon {
  color: yellow;
}

:host ::ng-deep .p-confirm-dialog-message {
  color: white;
}

.input-success:focus {
  box-shadow: 0 0 3px 3px green;
}

.input-error:focus {
  box-shadow: 0 0 3px 3px darkred;
}
