:host ::ng-deep {

  // MESSAGE
  .p-inline-message {
    & .p-inline-message-text {
      font-size: 1.7rem;
    }

    & .p-inline-message-icon {
      font-size: 1.7rem;
      margin-right: 1rem;
    }
  }

  // SUBMIT REVIEW BUTTON
  p-button.p-element {
    justify-self: end;
  }

  // LEAVE MESSAGE BUTTON
  .p-button {
    &-icon,
    &-label {
      font-size: 1.7rem;
    }
  }

  // FIELDSET
  .p-fieldset {
    box-shadow: var(--box-shadow-smallest);
  }

  // PAGINATION
  .p-paginator-page.p-link,
  .p-paginator-icon {
    font-size: 2.2rem;
    margin: 0 .5rem;
  }

  .p-paginator-rpp-options.p-dropdown.p-component {
    align-items: center;
    height: 4rem;
    width: 6rem;
  }

  .p-highlight {
    color: var(--color-primary) !important;
  }

  // DROPDOWN
  .p-button.p-button-danger.p-button-outlined {
    color: var(--color-primary);
    transition: all .2s;

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(-1px);
    }
  }

  .p-element.p-dropdown-label.p-inputtext,
  .p-dropdown-items .p-dropdown-item {
    font-size: 1.4rem;
  }

  .p-dropdown:not(.p-disabled).p-focus {
    border: 1px solid rgba(var(--color-primary-rgb), .2);
    box-shadow: inset 0 0 0 1px var(--color-primary-dark),
    inset 0 0 0 1px var(--color-primary-dark),
    inset 0 0 0 1px var(--color-primary-dark),
    inset 0 0 0 1px var(--color-primary-dark);
  }

  .p-dropdown-item {
    text-align: center;
  }

  .p-rating {
    display: inline-block;

    &-icon {
      font-size: 1.7rem;
      color: var(--color-primary);

      &:hover::before {
        color: var(--color-primary-dark);
      }
    }
  }
}

.section-film-comments {
  display: grid;
  grid-row-gap: 2rem;

  &__header {
    display: grid;
    grid-gap: 2rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(0, max-content));

    & .sort {
      display: flex;
      grid-column-gap: 1rem;
      align-items: center;

      &__label {
        color: var(--color-grey-light-1);
        font-size: 1.7rem;
      }
    }
  }

  & .comments {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 2rem;

    & .comment {

      &__header {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, max-content));
        grid-column-gap: 1rem;
        align-items: center;
        color: var(--color-primary);
      }

      &__user-name {
        font-size: 2.2rem;
        font-weight: 300;
      }

      &__date {
        grid-row: 2 / span 1;
        margin-left: 1.5rem;
        font-size: 1.4rem;
        color: var(--color-grey-light-2);
      }

      &__review {
        font-size: 1.6rem;
      }

      &__footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0, max-content));
        grid-column-gap: .3rem;
        justify-content: end;
        align-items: center;
      }

      &__react {
        transition: all .3s;
        font-size: 2rem;
        color: var(--color-grey-light-3);

        &:hover {
          i {
            color: var(--color-grey-light-1);
          }
        }
      }

      &__rating {
        font-size: 2rem;
      }
    }
  }
}

.form-comment {
  display: grid;
  grid-row-gap: 1rem;

  &__review {
    font-size: 1.5rem;
    color: var(--color-grey-light-1);
    padding: .7rem;
    border-radius: 5px;
  }

  &__mark {
    display: flex;
    align-items: flex-start;
  }
}
