<p-dialog [(visible)]="visibleLeaveCommentDialog"
          [modal]="true"
          [style]="{ width: '50vw' }"
          [draggable]="false"
          [resizable]="false">
  <ng-template pTemplate="header">
    <h2 class="heading-2">Rate this film!</h2>
  </ng-template>
  <form class="form-comment" #leaveCommentForm="ngForm" (ngSubmit)="onSendComment()">
    <div class="form-comment__mark">
      <p-rating [(ngModel)]="leftComment.mark" name="mark"
                [iconOnStyle]="{color: 'var(--color-primary)'}"
                [cancel]="false"
                [stars]="10"
                required>
      </p-rating>
      <span>*</span>
    </div>
    <textarea class="form-comment__review"
              rows="5"
              name="review"
              [(ngModel)]="leftComment.review">
    </textarea>
    <p-button icon="pi pi-send"
              label="Send"
              type="submit"
              styleClass="p-button-text text-danger form-comment__btn-submit"
              [disabled]="!leaveCommentForm.valid">
    </p-button>
  </form>
</p-dialog>

<div class="section-film-comments">
  <app-loading [status$]="commentsPage$.status"
               collection="comments">
  </app-loading>

  <ng-container *ngIf="commentsPage$.data | async as page">
    <div class="section-film-comments__header">
      <div class="section-film-comments__message section-film-comments__message--not-authenticated"
           *ngIf="!(isAuthenticated$ | async)">
        <p-message severity="info" text="Only authenticated users can leave comments and reactions!"></p-message>
      </div>
      <p-button icon="pi pi-comment"
                label="Leave comment"
                styleClass="p-button-outlined p-button-danger leave-comment"
                [disabled]="!(isAuthenticated$ | async)!"
                (click)="toggleLeaveCommentDialog()">
      </p-button>
      <div class="sort">
        <label for="sort" class="sort__label">Sort by most</label>
        <p-dropdown styleClass="sort__dropdown"
                    id="sort"
                    (ngModelChange)="changeSorting($event)"
                    [options]="getSortOptions()"
                    [(ngModel)]="sortType">
        </p-dropdown>
      </div>
    </div>
    <div class="section-film-comments__message section-film-comments__message--no-comments" *ngIf="page.empty">
      <p-message severity="info" text="There is no comments yet. Leave one to be first :)"></p-message>
    </div>

    <div class="comments">
      <div class="comment" id="{{'comment-id-' + comment.id}}" *ngFor="let comment of page.content">
        <p-fieldset>
          <ng-template pTemplate="header">
            <div class="comment__header">
              <div class="comment__user-name">{{comment.username}}</div>
              <div class="comment__stars">
                <i *ngFor="let _ of [].constructor(comment.mark)" class="bi bi-star-fill"></i>
                <i *ngFor="let _ of [].constructor(10 - comment.mark)" class="bi bi-star"></i>
              </div>
              <div class="comment__date">{{comment.wroteAt | date: 'MM/dd/yy HH:mm'}}</div>
            </div>
          </ng-template>

          <div class="comment__review">
            {{comment.review}}
          </div>
          <div class="comment__footer">
            <button class="btn comment__react comment__react-dislike"
                    [disabled]="!(isAuthenticated$ | async)"
                    (click)="reactOnComment(comment, ReactionType.DISLIKE)">
              <i class="bi bi-hand-thumbs-down{{currentUserReacted(comment, ReactionType.DISLIKE)}}"></i>
            </button>
            <span class="comment__rating">{{getCommentRating(comment)}}</span>
            <button class="btn comment__react comment__react-dislike"
                    [disabled]="!(isAuthenticated$ | async)"
                    (click)="like(comment)">
              <i class="bi bi-hand-thumbs-up{{currentUserReacted(comment, ReactionType.LIKE)}}"></i>
            </button>
          </div>
        </p-fieldset>
      </div>
    </div>

    <div class="paginator">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="page.totalElements"
        [rowsPerPageOptions]="[3, 5, 10]">
      </p-paginator>
    </div>
  </ng-container>
</div>
