@import "../../custom-bootstrap";

$aside-totals-width: 30vw;

.hall-page {
  padding: 5rem;
  color: var(--color-grey-light-2);
  display: grid;
  grid-template-columns: minmax(40rem, auto) $aside-totals-width;
}

.hall {
  display: grid;
  grid-template-columns: 15vw auto;
  grid-gap: 4rem;

  &__shape {
    grid-row: 1 / 2;
  }

  &__film-poster {
    width: 100%;
    min-height: 15rem;
    max-height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
  }

  &__movie-container {
    display: grid;
    grid-row-gap: 4rem;
    grid-template-rows: repeat(3, max-content);
  }

  &__properties,
  &__info-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, max-content));
    grid-column-gap: 2rem;
    font-size: 1.4rem;

    & > * {
      font-weight: 700;
      border: 1px solid var(--color-primary);
      border-radius: $border-radius-lg;
      padding: 1rem 2rem;
      transition: all .3s;
    }

    & > *:hover {
      transform: scale(1.2);
      border: var(--border-thin-grey-light-2);
      box-shadow: 0 1rem 2rem rgba(#fff, .2);
    }
  }

  &__info {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-column-gap: 2rem;
    align-items: center;
    justify-items: center;

    &-location-text,
    &-date-short,
    &-time-text {
      font-weight: 300;
    }

    p {
      margin: 0;
    }

    &-icon {
      grid-row: 1 / span 2;
      font-size: 3rem;
    }
  }

  &__screen {
    grid-column: 1 / -1;
    fill: var(--color-primary);
  }

  &__screen-text {
    grid-column: 1 / -1;
    transform: translateY(-3.5rem);
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 3px;
  }

  &__price-list {
    justify-self: center;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-column-gap: 1rem;
    align-items: center;
    justify-items: center;
    font-size: 1.7rem;
  }

  &__seat-price:not(:last-of-type) {
    margin-right: 2rem;
  }

  &__seats-box {
    grid-column: 1 / -1;
    display: grid;
    grid-row-gap: 2rem;
  }

  &__row {
    display: flex;
    justify-content: center;
    grid-column-gap: 1rem;
  }


  &__row--last .btn:nth-child(2n) {
    margin-right: 5rem;
  }

  &__seat {
    height: 3rem;
    width: 2.2rem;
    border-radius: $border-radius-lg;

    &--good {
      border: 1px solid darken(dodgerblue, 20%);
    }

    &--lux {
      border: 1px solid var(--color-primary-dark);
    }

    &--selected-lux {
      background-color: var(--color-primary);
    }

    &--selected-good {
      background-color: dodgerblue;
    }

    &--taken {
      background-color: var(--color-grey-dark-2);
      border: 1px solid var(--color-grey-dark-3);
    }
  }
}

.tickets-box {
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-row-gap: 1.5rem;
  position: fixed;
  right: 2rem;
  top: calc(2rem + var(--header-height));
  height: calc(100vh - 4rem - var(--header-height));
  width: $aside-totals-width;
  border: var(--border-thin-grey-dark-2);
  font-size: 1.8rem;
  border-radius: $border-radius-xl;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem 0 2rem;
    font-weight: 700;
  }


  &__info {
    color: var(--color-grey-dark-1);
  }

  &__list {
    overflow-y: auto;
    list-style: none;
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 2rem;
    margin: 0;
    padding: 0 2rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    padding: 1.5rem 2rem 0 2rem;
    border-top: var(--border-thin-grey-dark-2);

    & > * {
      margin: 0;
    }
  }

  &__alert {
    margin: 0 2rem;
  }

  &__purchase-btn {
    color: #fff;
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary-dark);
    border-radius: 10rem;
    font-size: inherit;
    margin: 0 2rem 2rem 2rem;
    height: 5rem;
    transition: all .2s;

    &[disabled] {
      filter: brightness(50%);
    }

    &:not([disabled]):hover {
      transform: translateY(-2px);
      box-shadow: 0 1rem 2rem rgba(#fff, .2);
    }

    &:not([disabled]):active {
      transform: translateY(-1px);
    }
  }
}
