<div *ngIf="session" class="row text-white m-3">
  <div class="col-xxl-8">
    <div class="row">
      <div class="col-auto">
        <img alt="{{session.title}}"
             class="w-250"
             src="{{session.image}}">
      </div>
      <div class="col-xxl-8 m-2">
        <span class="row row-cols-xxl-12 h4">{{session.title}}</span>
        <div class="row">
          <div class="col-auto my-2">
            <div class="row row-cols-xxl-auto text-center">
              <div class="bg-dark border border-white border-1 rounded-3 me-3">2D</div>
              <div class="bg-dark border border-white border-1 rounded-3">{{session.hall.type}}</div>
            </div>
          </div>
        </div>
        <div class="row my-2">
          <div class="col-auto bg-dark border border-white border-1 rounded-3 me-3">
            <div class="row">
              <div class="col-auto mt-1">
                <i class="bi bi-geo-alt-fill"></i>
              </div>
              <div class="col-auto border-start border-2 border-white">
                <div>Hall {{session.hall.number}}</div>
                <div>Kharkiv</div>
              </div>
            </div>
          </div>
          <div class="col-auto bg-dark border border-1 border-white rounded-3 me-3">
            <div class="row">
              <div class="col-auto mt-1">
                <i class="bi bi-calendar3"></i>
              </div>
              <div class="col-auto border-start border-2 border-white">
                <div>{{session.startAt | date: 'shortDate'}}</div>
                <div>{{session.startAt | date: 'EEEE'}}</div>
              </div>
            </div>
          </div>
          <div
            class="col-auto bg-dark border border-1 border-white rounded-3 d-flex justify-content-center align-items-center">
            <div class="row">
              <div class="col">
                <i class="bi bi-clock"></i>
              </div>
              <div class="col border-start border-2 border-white p-1">
                {{session.startAt | date: 'HH:mm'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-4 d-flex justify-content-center">
      <div *ngIf="session.hall.type !== 'CHILL_OUT'" class="col-auto d-flex align-items-center  ">
        <div class="seat good-seat d-inline-block"></div>
        <span class="ms-2">{{session.hall.rows[0].type}} - {{session.hall.rows[0].price}} UAH</span>
      </div>
      <div class="col-auto d-flex align-items-center">
        <div class="seat lux-seat d-inline-block"></div>
        <span class="ms-2">{{session.hall.rows.at(-1)?.type}} - {{session.hall.rows.at(-1)?.price}} UAH</span>
      </div>
    </div>
    <div class="row row-cols-xxl-auto mt-3 d-flex justify-content-center">
      <div class="screen">
        <svg fill="orangered" viewBox="0 0 806 21" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M3.2,20l-2,0.2l-0.3-4l2-0.2C136.2,5.3,269.6,0,403,0s266.8,5.3,400.2,16l2,0.2l-0.3,4l-2-0.2 C669.5,9.3,536.3,4,403,4S136.4,9.3,3.2,20z"></path>
        </svg>
        <div class="text-center">ЕКРАН</div>
      </div>
    </div>
    <div class="mt-4">
      <div *ngFor="let row of session.hall.rows; last as lastRow"
           class="row d-flex justify-content-center">
        <div *ngFor="let seat of row.seats" class="col-auto p-2">
          <button #btn
                  (click)="onSelectSeat(btn)"
                  [attr.data-price]="row.price"
                  [attr.data-row]="row.number"
                  [attr.data-seat]="seat.number"
                  [attr.data-type]="row.type"
                  class="bg-transparent border-0 p-0"
                  type="button">
            <div [ngClass]="{
                 'lux-seat': !isSeatTaken(row.number, seat.number) && lastRow || session.hall.type === 'CHILL_OUT',
                 'good-seat': !isSeatTaken(row.number, seat.number) && !lastRow && session.hall.type !== 'CHILL_OUT',
                 'taken-seat': isSeatTaken(row.number, seat.number)
                 }"
                 class="seat text-white p-0 m-0"
                 pTooltip="{{isSeatTaken(row.number, seat.number) ? 'This seat is taken' : row.number + ' Row, ' + seat.number + ' Seat\nPrice: ' + row.price  + ' UAH'}}"
                 tooltipPosition="top">
              <ng-container *ngIf="isSeatTaken(row.number, seat.number)">
                x
              </ng-container>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-4 fs-5 p-2 full-height border border-1 border-dark rounded-4
   d-flex flex-column position-sticky top-20px">
    <div class="row mt-4 row-cols-xxl-auto fw-bold">
      <div class="me-auto">Tickets</div>
      <div class="text-white-50"> {{tickets.length}} tickets, {{getTotalPrice()}} UAH</div>
    </div>

    <div class="overflow-auto">
      <app-ticket *ngFor="let ticket of tickets" [ticket]="ticket"></app-ticket>
    </div>

    <div class="row mt-auto border-1 border-top border-dark fs-4">
      <div class="col-xxl-12 fw-bold d-flex my-2">
        <div>Total price:</div>
        <div class="ms-auto me-2">{{getTotalPrice()}} UAH</div>
      </div>
      <div class="col-xxl-12 alert alert-danger" *ngIf="!isAuthenticated">
        <div class="row d-flex justify-content-center">
          <span class="col-xxl-11">Please log in to buy tickets</span>
        </div>
      </div>
      <div class="col-xxl-12">
        <div class="row d-flex justify-content-center">
          <button #purchaseButton
                  (click)="onPurchaseTickets()"
                  [disabled]="!isAuthenticated"
                  class="col-xxl-11 btn btn-danger rounded-4">
            Purchase
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
