.w-250 {
  width: 250px;
  height: auto;
}

.top-20px {
  top: 20px;
}

.tickets-container {
  height: calc(100vh - var(--header-height));
}

i {
  font-size: 150%;
}

.screen {
  width: 62.6rem;
}

.seat {
  height: 28px;
  width: 20px;
  border-radius: 3px;
}

.good-seat {
  border: 1px solid deepskyblue;
}

.lux-seat {
  border: 1px solid var(--primary-red);
}

.selected-good-seat {
  background-color: dodgerblue;
}

.selected-lux-seat {
  background-color: red;
}

.taken-seat {
  border: #333333;
  background-color: #676f70;
}
