<section class="section-profile">
  <div class="personal">
    <h3 class="heading-3">Personal information</h3>
    <p>Tell us about yourself!</p>
    <div class="personal__container">
      <app-profile-editor [value]="user?.given_name"
                          labelIcon="pi pi-id-card"
                          key="firstName"
                          labelValue="First name">
      </app-profile-editor>

      <app-profile-editor [value]="user?.family_name"
                          labelIcon="pi pi-id-card"
                          key="lastName"
                          labelValue="Last name">
      </app-profile-editor>

      <app-profile-editor [value]="user?.['birthdate']"
                          labelIcon="fa-solid fa-cake-candles"
                          key="birthdate"
                          labelValue="Date of birth">
      </app-profile-editor>

      <app-profile-editor [value]="user?.['gender']"
                          labelIcon="bi bi-gender-male"
                          key="gender"
                          labelValue="Gender">
      </app-profile-editor>
    </div>
  </div>

  <div class="contact">
    <h3 class="heading-3">Contact information</h3>
    <p>Provide us email and phone so we will be able to stay in touch with you :)</p>

    <div class="contact__container">
      <app-profile-editor [value]="user?.email"
                          labelIcon="pi pi-envelope"
                          key="email"
                          labelValue="Email">
      </app-profile-editor>

      <app-profile-editor [value]="user?.['mobilePhone']"
                          labelIcon="pi pi-phone"
                          key="mobilePhone"
                          labelValue="Mobile phone">
      </app-profile-editor>
    </div>
  </div>

  <div class="social-login">
    <div class="social-login__google">
      <i class="google-icon">Google</i>
      <button class="btn social-login-btn">Connect</button>
    </div>

    <div class="social-login__facebook">
      <i class="google-icon">Facebook</i>
      <button class="btn social-login-btn">Connect</button>
    </div>

    <div class="social-login__apple">
      <i class="google-icon">Apple</i>
      <button class="btn social-login-btn">Connect</button>
    </div>
  </div>
</section>
