<section class="section-profile">
  <div class="personal">
    <h3 class="heading-3">Personal information</h3>
    <p>Tell us about yourself!</p>
    <div class="info-block">
      <app-profile-editor [value]="user?.given_name"
                          labelIcon="pi pi-id-card"
                          key="firstName"
                          labelValue="First name">
      </app-profile-editor>

      <app-profile-editor [value]="user?.family_name"
                          labelIcon="pi pi-id-card"
                          key="lastName"
                          labelValue="Last name">
      </app-profile-editor>

      <app-profile-editor [value]="user?.['birthdate']"
                          labelIcon="fa-solid fa-cake-candles"
                          key="birthdate"
                          labelValue="Date of birth">
      </app-profile-editor>

      <app-profile-editor [value]="user?.['gender']"
                          labelIcon="bi bi-gender-male"
                          key="gender"
                          labelValue="Gender">
      </app-profile-editor>
    </div>
  </div>

  <div class="contact">
    <h3 class="heading-3">Contact information</h3>
    <p>Provide us email and phone so we will be able to stay in touch with you :)</p>

    <div class="info-block">
      <app-profile-editor [value]="user?.email"
                          labelIcon="pi pi-envelope"
                          key="email"
                          labelValue="Email">
      </app-profile-editor>

      <app-profile-editor [value]="user?.['mobilePhone']"
                          labelIcon="pi pi-phone"
                          key="mobilePhone"
                          labelValue="Mobile phone">
      </app-profile-editor>
    </div>
  </div>

  <div class="authentication">
    <h3 class="heading-3">Authentication</h3>
    <p>Here you can connect your social networks to account and change password</p>

    <div class="info-block">

      <app-profile-editor [value]="'*'.repeat(10)"
                          labelIcon="pi pi-lock"
                          key="password"
                          labelValue="Password">
      </app-profile-editor>
    </div>
  </div>
</section>
