@import "../../../custom-bootstrap";

$field-gap: 1.5rem;

.section-profile {
  display: grid;
  grid-row-gap: 2rem;

  & > div {
    background-color: var(--color-grey-dark-1);
    border-radius: $border-radius-xl;
    padding: 2.5rem;
    box-shadow: var(--box-shadow-smallest);

    & p {
      font-size: 1.6rem;
      letter-spacing: 2px;
      color: var(--color-grey-light-3);
    }
  }
}

.personal__container {
  display: grid;
  grid-gap: $field-gap;
  grid-template-columns: calc(50% - $field-gap / 2) calc(50% - $field-gap / 2);
}
