/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/dist/css/bootstrap.min.css";
@import "primeicons/primeicons.css";
@import "assets/theme";
@import "sass/base";
@import "sass/typography";

.cl-primary {
  color: var(--color-primary);
}

.cl-primary-hover:hover {
  color: var(--color-primary);
}

.bg-cl-primary {
  background: var(--color-primary);
}

.bg-primary-hover:hover {
  background: var(--color-primary);
}
