<tr (click)="toggleRowExpanded()">
  <td>
    <div>{{purchase.dealtAt | date:'short'}}</div>
    <div class="row-expansion" [@openClosed]="rowExpanded ? 'open' : 'closed'">
      <div class="row-expansion__header-item">№ Order</div>
      <div>{{purchase.id}}</div>
    </div>
  </td>
  <td>
    <div class="cell-container">
      <div>{{purchase.filmTitle}}</div>
      <div class="row-expansion" [@openClosed]="rowExpanded ? 'open' : 'closed'">
        <div class="row-expansion__header-item">Tickets</div>
        <ul class="row-expansion__tickets-list">
          <li class="row-expansion__tickets-item"
              *ngFor="let ticket of purchase.tickets">
            {{'Row ' + ticket.row + ', seat ' + ticket.seat}}
          </li>
        </ul>
      </div>
    </div>
  </td>
  <td>{{purchase.sessionStartAt | date:'short'}}</td>
  <td>{{purchase.quantity}}</td>
  <td>{{purchase.totalPrice | currency:"UAH":"symbol-narrow"}}</td>
  <td>
    <i class="bi bi-chevron-down {{rowExpanded ? 'bi-chevron-down--expanded' : ''}}"></i>
  </td>
</tr>
