@import "../custom-bootstrap";

@mixin tooltip($translateBlock, $translateArrow) {
  transform: translateY($translateBlock);

  & > .p-tooltip-arrow {
    display: block;
    transform: translateY($translateArrow) scale(2.5);
  }

  & > .p-tooltip-text {
    background-color: var(--color-grey-dark-3);
    padding: 1rem;
    font-size: 1.4rem;
  }
}

// TOOLTIP
.p-tooltip {
  &.p-tooltip-top {
    @include tooltip(-9px, 4px);
  }

  &.p-tooltip-bottom {
    @include tooltip(9px, -4px);
  }
}

.btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  border-radius: 0;
  font-size: inherit;
}

.btn-google {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  width: 100%;

  & img {
    height: 2rem;
    width: 2rem;
    object-fit: cover;
  }

  & span {
    color: var(--color-grey-dark-4);
    background-color: #fff;
  }
}

.p-button.p-button-text {
  &.p-button-secondary {
    color: var(--color-grey-light-3);

    &:enabled:hover {
      color: var(--color-grey-light-1);
      background-color: var(--color-grey-dark-1);
    }
  }

  &.p-button-danger {
    color: var(--color-primary);

    &:enabled:hover {
      color: var(--color-grey-light-1);
      background-color: var(--color-primary-dark);
    }
  }
}

.p-button.p-button-danger {
  background-color: var(--color-primary);

  &:enabled:hover {
    background-color: var(--color-primary-dark);
  }
}

.p-button.p-button-success {
  background-color: limegreen;

  &:enabled:hover {
    background-color: forestgreen;
  }

  &:focus {
    background-color: limegreen;
  }
}

// PAGINATION
.p-paginator {
  padding: 2rem;
  background-color: transparent;

  &-next,
  &-prev,
  &-last,
  &-first {
    svg {
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  &-page.p-link,
  &-icon {
    font-size: 2.2rem;
    margin: 0 .5rem;
  }

  &-rpp-options.p-dropdown.p-component {
    align-items: center;
    height: 4rem;
    width: 6rem;

    &.p-focus {
      border-color: var(--color-primary);
      box-shadow: 0 0 1rem rgba(var(--color-primary-rgb), .2);
    }
  }

  &-current {
    font-size: 1.5rem;
  }

  .p-highlight {
    color: var(--color-primary) !important;
  }
}


// LOADING
.loading-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(100vh - var(--header-height));
  width: 100vw;
  backdrop-filter: blur(5px) brightness(70%);
  z-index: $zindex-fixed;
}

// TOAST
.p-toast-message {
  font-size: 1.3rem;
}
