<div class="field-box">
  <div class="field__data" *ngIf="!edited" (click)="toggleEdited()">
    <div class="field__key">
      <i [class]="labelIcon"></i>
      <label>{{labelValue}}</label>
    </div>

    <span class="field__value" *ngIf="isValueDate">
      {{value | date:'shortDate'}}
    </span>
    <span class="field__value" *ngIf="!isValueDate">{{value}}</span>

    <p-button icon="pi pi-pencil"
              styleClass="p-button-rounded p-button-danger"
              (click)="toggleEdited()">
    </p-button>
  </div>

  <div class="field__changed" *ngIf="edited">
    <div class="field__key">
      <i [class]="labelIcon"></i>
      <label for="input">{{labelValue}}</label>
    </div>

    <ng-container [ngSwitch]="key">
      <ng-container *ngSwitchDefault>
        <input #input="ngModel"
               pInputText
               pTooltip="Enter new value"
               tooltipPosition="top"
               class="field__input"
               id="input"
               [(ngModel)]="editedValue"
               [value]="value"
               (keydown.enter)="update()"
               pattern="[a-zA-Z\s\-]+"
               maxlength="50"
               required
               autofocus>
        <small class="p-error" *ngIf="input.errors && (input.touched || input.dirty)">
          <span *ngIf="input.errors?.['required']">
            Field cannot be empty
          </span>
          <span *ngIf="input.errors?.['maxlength']">
            Field must be up to 50 characters long
          </span>
          <span *ngIf="input.errors?.['pattern']">
            Field must contain only letters, spaces or dashes
          </span>
        </small>

      </ng-container>

      <p-calendar *ngSwitchCase="'birthdate'"
                  [(ngModel)]="editedValue"
                  [minDate]="minBirthDate"
                  [maxDate]="maxBirthDate"
                  placeholder="Date of birth"
                  (keydown.enter)="update()"
                  id="input">
      </p-calendar>

      <p-dropdown *ngSwitchCase="'gender'"
                  [(ngModel)]="editedValue"
                  placeholder="Male / Female"
                  [options]="genders"
                  (keydown.enter)="update()"
                  pTooltip="Click to select"
                  tooltipPosition="top">
      </p-dropdown>

      <ng-container *ngSwitchCase="'email'">
        <input #email="ngModel"
               pInputText
               [(ngModel)]="editedValue"
               [value]="value"
               id="input"
               class="field__input"
               placeholder="johndoe@mail.com"
               minlength="5"
               maxlength="100"
               appEmail
               required
               pTooltip="Enter new email"
               tooltipPosition="top"
               (keydown.enter)="update()"
               autofocus />
        <app-email-error-messages [email]="email"></app-email-error-messages>
      </ng-container>
    </ng-container>

    <div class="buttons">
      <p-button icon="pi pi-check"
                styleClass="p-button-rounded p-button-success mr-3"
                [loading]="(updateResponse?.status | async) === Status.LOADING"
                (click)="update()">
      </p-button>
      <p-button icon="pi pi-times"
                styleClass="p-button-rounded p-button-danger"
                (click)="toggleEdited()">
      </p-button>
    </div>
  </div>
</div>
