@import "../../../../custom-bootstrap";

@mixin input-field {
  color: var(--color-grey-light-1);
  font-size: 2.5rem;
  width: 100%;
  background: transparent;
  border: var(--border-thin-grey-light-2);
  border-radius: $border-radius-xl;
  padding: 3rem 8rem 2rem 3rem;

  &:focus {
    box-shadow: unset;
  }

  &.ng-valid {
    border-color: forestgreen;

    &:focus {
      box-shadow: var(--box-shadow-input-success);
    }
  }
}

:host::ng-deep {
  .p-calendar {
    width: 100%;

    & .p-inputtext {
      @include input-field;
    }
  }

  .p-dropdown {
    @include input-field;

    &-label {
      font-size: 2.5rem;
      color: var(--color-grey-light-1);
      padding: 0;
    }

    &-item {
      font-size: 2rem;
    }

    &-trigger {
      display: none;
    }
  }

  small.p-error > span {
    display: block;
    font-size: 1.5rem;
    color: var(--color-primary);
  }
}

.field {
  &__data {
    display: flex;
    align-items: center;
    position: relative;
    padding: 3rem;
    padding-bottom: 2rem;
    border: var(--border-thin-grey-light-2);
    border-radius: $border-radius-xl;
    transition: all .2s;

    &:hover {
      border: var(--border-thin-primary);
      cursor: pointer;
    }

    & .bi-gender-male {
      color: deepskyblue;
    }

    & .bi-gender-female {
      color: deeppink;
    }

    & .fa-cake-candles,
    & .pi-id-card {
      font-size: 1.7rem;
    }

    & .fa-cake-candles {
      color: var(--color-primary);
    }

    & .pi-id-card {
      color: var(--color-grey-light-2);
    }
  }

  &__key {
    position: absolute;
    top: .5rem;
    left: 1rem;

    & label {
      color: var(--color-grey-dark-4);
      font-size: 1.7rem;
      font-weight: 700;
      letter-spacing: 2px;
    }

    & i {
      color: var(--color-grey-light-2);
      font-size: 1.7rem;
      margin-right: .7rem;
    }
  }

  &__value {
    display: inline-block;
    margin-right: auto;
    color: var(--color-grey-light-1);
    font-size: 2.5rem;
  }

  &__input {
    @include input-field;
  }

  &__changed {
    position: relative;

    & .buttons {
      position: absolute;
      top: 4.9rem;
      right: 1rem;
      transform: translateY(-50%);
    }
  }
}
