spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  flyway:
    url: ${DB_URL}
    user: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    schemas: public
    baseline-on-migrate: true
    clean-on-validation-error: true
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

okta:
  oauth2:
    issuer: ${OKTA_ISSUER}
    client-id: ${OKTA_CLIENT_ID}
    scopes: openid,profile,email
    redirect-uri: http://localhost:4200/login/callback
  client:
    connectionTimeout: 30 # seconds
    org-url: ${OKTA_DOMAIN}
    token: ${OKTA_TOKEN}

allowed:
  origins: http://localhost:4200
