<div #rowElement
     (click)="onToggleDetails()"
     (mouseleave)="onMouseLeaveRow()"
     (mouseover)="onMouseOverRow()"
     [attr.data-bought-at]="transaction.boughtAt"
     appHover
     role="button"
     class="row d-flex align-items-center border-top border-1 border-secondary fs-5 p-2 rounded-1"
     classToRemove="bg-secondary"
     selector=".bi-chevron-down">
  <div class="col-2">
    <div>
      {{transaction.boughtAt | date: 'short'}}
    </div>
    <div class="fs-6 mt-3" *ngIf="isDetailsShown">
      <div class="text-dark fw-bold">Order №</div>
      <div>{{transaction.sessionId}}</div>
    </div>
  </div>
  <div class="col-5">
    <div>{{transaction.filmTitle}}</div>
    <div class="fs-6 mt-3" *ngIf="isDetailsShown">
      <div class="text-dark fw-bold">Tickets</div>
      <div *ngFor="let ticketDto of ticketDtos">
        {{ticketDto.ticket.row}} Row, {{ticketDto.ticket.seat}} Seat, {{ticketDto.ticket.price}} UAH
      </div>
    </div>
  </div>
  <div class="col-2">{{transaction.sessionStartAt | date: 'short'}}</div>
  <div class="col-1">{{transaction.quantity}}</div>
  <div class="col-1">{{transaction.totalPrice}}</div>
  <div class="col-1"><i class="bi bi-chevron-down bg-secondary rounded-circle fs-5 p-1"></i></div>
</div>
