@import "../../../custom-bootstrap";

$aside-schedule-width: 25vw;


:host ::ng-deep {
  .aside-schedule-box .date-selection-box .container {
    & .btn-selection-date {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      background-color: var(--color-grey-dark-1);
      color: #fff;
      border-bottom: 0;
      width: 90%;
      border-radius: $border-radius-lg;
      font-size: 1.5rem;
      padding: .5rem 2rem;
      transition: all .4s;

      &:hover {
        background-color: var(--color-primary);
      }
    }

    & .dates {
      position: absolute;
      color: #fff;
      top: 79%;
      width: 80.28%;
      background-color: var(--color-grey-dark-1);
      border: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      transform: translate(-55.7%, 0) !important;

      &__btn {
        &:hover {
          color: var(--color-grey-light-3);
        }
      }
    }
  }
}

.info {
  display: grid;
  grid-template-columns: auto $aside-schedule-width;
  grid-column-gap: 2rem;

  .film-details {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 10rem;
    grid-row-gap: 1rem;
    font-size: 1.6rem;

    &__title {
      grid-column: 1 / -1;
    }

    &__text {
      color: var(--color-grey-light-1);
    }

    &__value {
      color: var(--color-grey-dark-1);
      font-weight: 700;
    }

    &__genre {
      text-decoration: none;
      color: currentColor;
    }

    &__description {
      grid-column: 1 / -1;
      color: var(--color-grey-light-1);
      font-size: 1.8rem;
      margin-top: 4rem;
    }
    }
  }

.aside-schedule-box {
    position: fixed;
    top: calc(var(--header-height) + 3rem);
    right: 5rem;
    width: $aside-schedule-width;
    box-shadow: 0 1rem 2rem rgba(#444444ff, .2);

    .date-selection-box {
      position: relative;
      background-color: var(--color-grey-dark-2);
      border-top-left-radius: $border-radius-lg;
      border-top-right-radius: $border-radius-lg;
      padding: 2rem;

      p {
        font-size: 1.8rem;
        color: var(--color-grey-light-1);
      }
    }

    .showtimes-box {
      height: 65vh;
      background-color: var(--color-grey-dark-3);
      border-bottom-left-radius: $border-radius-lg;
      border-bottom-right-radius: $border-radius-lg;

      &__content {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .showtime__link:link,
    .showtime__link:visited {
      display: inline-block;
      text-decoration: none;
      font-size: 1.6rem;
      font-weight: 700;
      color: var(--color-primary);
      padding: 1.5rem;
      transition: all .4s;
    }

    .showtime__link:hover,
    .showtime__link:active {
      color: var(--color-grey-light-1);
      transform: scale(1.1);
    }

  }
