<app-loading collection="info" [status$]="film$.status"></app-loading>
<section class="info">
  <div class="film-details" *ngIf="film$.data | async as film">
    <h1 class="heading-1 film-details__title">{{film.title}}</h1>
    <div class="film-details__text">Age:</div>
    <div class="film-details__value">16+</div>
    <div class="film-details__text">Year:</div>
    <div class="film-details__value">{{film.productionYear}}</div>
    <div class="film-details__text">Director:</div>
    <div class="film-details__value">{{film.director}}</div>
    <div class="film-details__text">Rental period:</div>
    <div class="film-details__value">20.04.2022-23.01.2023</div>
    <div class="film-details__text">Genre:</div>
    <div class="film-details__value">
      <a class="film-details__genre"
         *ngFor="let genre of film.genres"
         href="#">{{genre.name}}
      </a>
    </div>
    <div class="film-details__text">Duration:</div>
    <div class="film-details__value">{{film.duration}}</div>
    <div class="film-details__text">Country:</div>
    <div class="film-details__value">
      <ng-container *ngFor="let country of film.countries; let last=last">
        <span class="film-details__country">{{country.name}}</span>
        <span *ngIf="!last">, &nbsp;</span>
      </ng-container>
    </div>
    <div class="film-details__text">Actors:</div>
    <div class="film-details__value">
      <ng-container *ngFor="let actor of film.actors; let last=last">
        <span class="film-details__actor">{{actor.fullName}}</span>
        <span *ngIf="!last">, &nbsp;</span>
      </ng-container>
    </div>
    <div class="film-details__description">{{film.description}}</div>
  </div>

  <div *ngIf="sessions$.data | async as sessions ">
    <div class="aside-schedule-box" *ngIf="sessions">
      <div class="date-selection-box">
        <p>Schedule of sessions</p>
        <app-date-dropdown [sessions]="sessions"
                           (selectDate)="selectDate($event)">
          <i [ngClass]="{
            'bi bi-chevron-down mt-1': true,
            'bi-chevron-down--expanded': dateDropdownService.isDaySelectionShown
           }"></i>
        </app-date-dropdown>
      </div>
      <div class="showtimes-box">
        <div class="showtimes-box__content">
          <ng-template [ngForOf]="sessions" let-session ngFor>
            <a *ngIf="isSameDay(session.startAt, selectedDate)"
               [routerLink]="['../sessions', session.id]"
               class="showtime__link"
               [ngClass]="{
            'pe-none text-secondary': isSessionWithinPastThirtyMinutes(session),
            'cl-primary': !isSessionWithinPastThirtyMinutes(session)
           }"
               pTooltip="From {{session.minPrice}} UAH"
               tooltipPosition="bottom">
              {{session.startAt | date: 'HH:mm'}}
            </a>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
