<div *ngIf="user" class="row justify-content-center mt-5 text-white">
  <div class="col-xxl-8">
    <div class="fs-2">{{user.name}}</div>
    <div class="row mt-3 fs-5">
      <div class="col-auto">
        <a [routerLinkActive]="['border-danger']"
           class="tab text-white text-decoration-none px-3 py-1"
           routerLink="tickets">
          <i class="bi bi-ticket"></i>
          <span class="ms-2">Tickets</span>
        </a>
      </div>
      <div class="col-auto">
        <a [routerLinkActive]="['border-danger']"
           class="tab text-white text-decoration-none px-3 py-1"
           routerLink="profile">
          <i class="bi bi-person"></i>
          <span class="ms-2">Profile</span>
        </a>
      </div>
    </div>
    <div class="row mt-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
