<section *ngIf="user" class="section-user">
  <h2 class="heading-2">{{user.name}}</h2>
  <nav class="section-user__nav">
    <ul class="section-user__nav-list">
      <li class="section-user__nav-item">
        <a class="section-user__nav-link"
           routerLink="tickets"
           [routerLinkActive]="['border-danger']">
          <i class="pi pi-ticket"></i>
          <span>Tickets</span>
        </a>
      </li>
      <li class="section-user__nav-item">
        <a class="section-user__nav-link"
           routerLink="profile"
           [routerLinkActive]="['border-danger']">
          <i class="pi pi-user"></i>
          <span>Profile</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="section-user__main">
      <router-outlet></router-outlet>
  </div>
</section>
