@import "../../../custom-bootstrap";

:host ::ng-deep {
  //EDIT FORM
  .form {
    font-size: 1.5rem;

    &__group {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 1.5rem;
    }


    &__input {
      font-size: 1.5rem;
      font-family: inherit;

      &.ng-invalid {
        outline: none;
        border: 2px solid var(--color-primary-dark);
      }

      &.ng-valid {
        border: 2px solid forestgreen;

        &:focus {
          outline: none;
          box-shadow: 0 0 3px 3px rgba(green, .3);
        }
      }
    }

    &__label {
      margin-bottom: .5rem;
    }

    &__footer {
      display: flex;

      & .p-button-text {
        display: inline-block;
        font-size: 1.6rem;
      }

      & .p-button-secondary {
        margin-left: auto;
        margin-right: 1.5rem;
      }
    }
  }

  .iti {
    display: block;

    & .dropdown-menu.country-dropdown {
      background-color: transparent;
      border-color: transparent;
    }

    &__country-list {
      color: var(--color-grey-light-1);
      background-color: var(--color-grey-dark-3);

      & li.iti__country:hover {
        background-color: var(--color-grey-dark-1);
      }
    }
  }
}

.section-users {
  padding: var(--padding-admin-panel-table);
}
