<div class="position-relative">
  <div class="loading-container" *ngIf="(response?.status | async) === Status.LOADING">
    <app-loading [status$]="response.status" [labelShown]="false"></app-loading>
  </div>
</div>

<section class="section-signup">
  <div class="form-container">
    <form class="form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="message-container">
        <p-messages [(value)]="errorMessages"
                    severity="error"
                    showTransitionOptions="500ms"
                    hideTransitionOptions="500ms"
                    [enableService]="false">
        </p-messages>
      </div>

      <div class="form__group">
        <small class="p-error" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">
          <div *ngIf="firstName.errors?.['required']">
            First name is required
          </div>
          <div *ngIf="firstName.errors?.['maxlength']">
            First name must be up to 50 characters long
          </div>
        </small>
        <input [ngClass]="{
              'form__input': true,
              'form__input--success': firstName.valid && (firstName.touched || firstName.dirty),
              'form__input--invalid': firstName.invalid && (firstName.touched || firstName.dirty)
              }"
               id="first-name"
               name="firstName"
               placeholder="First name"
               required
               maxlength="50"
               [(ngModel)]="user.firstName"
               #firstName="ngModel"
               autofocus />
        <label class="form__label" for="first-name">First name</label>
      </div>

      <div class="form__group">
        <small class="p-error" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">
          <div *ngIf="lastName.errors?.['required']">
            Last name is required
          </div>
          <div *ngIf="lastName.errors?.['maxlength']">
            Last name must be up to 50 characters long
          </div>
        </small>
        <input [ngClass]="{
              'form__input': true,
              'form__input--success': lastName.valid && (lastName.touched || lastName.dirty),
              'form__input--invalid': lastName.invalid && (lastName.touched || lastName.dirty)
             }"
               id="last-name"
               name="lastName"
               placeholder="Last name"
               required
               maxlength="50"
               [(ngModel)]="user.lastName"
               #lastName="ngModel" />
        <label class="form__label" for="last-name">Last name</label>
      </div>

      <div class="form__group">
        <small class="p-error" *ngIf="email.errors && (email.touched || email.dirty)">
          <div *ngIf="email.errors?.['required']">
            Email is required
          </div>
          <div *ngIf="email.errors?.['minlength'] || email.errors?.['maxlength']">
            Email must be within the range from 5 to 100 characters long
          </div>
          <div *ngIf="email.errors?.['isNotValid']">
            Email is not valid
          </div>
        </small>
        <input id="email"
               [ngClass]="{
              'form__input': true,
              'form__input--success': email.valid && (email.touched || email.dirty),
              'form__input--invalid': email.invalid && (email.touched || email.dirty)
             }"
               name="email"
               placeholder="Email"
               minlength="5"
               maxlength="100"
               appEmail
               required
               [(ngModel)]="user.email"
               #email="ngModel" />
        <label class="form__label" for="email">Email</label>
      </div>

      <div class="form__group">
        <small class="p-error" *ngIf="password.errors && (password.touched || password.dirty)">
          <div *ngIf="password.errors?.['required']">
            Password is required
          </div>
          <div *ngIf="password.errors?.['minlength']">
            Password must be at least 8 characters long
          </div>
          <div *ngIf="password.errors?.['hasUpperCase']">
            Password must contain at least 1 uppercase character
          </div>
          <div *ngIf="password.errors?.['hasLowerCase']">
            Password must contain at least 1 lowercase character
          </div>
          <div *ngIf="password.errors?.['hasNumeric']">
            Password must contain at least 1 digit
          </div>
        </small>
        <input [ngClass]="{
                'form__input': true,
                'form__input--success': password.valid && (password.touched || password.dirty),
                'form__input--invalid': password.invalid && (password.touched || password.dirty)
               }"
               id="password"
               name="password"
               type="password"
               placeholder="Password"
               required
               minlength="8"
               appHasUpperCase
               appHasLowerCase
               appHasNumeric
               [(ngModel)]="user.password"
               #password="ngModel" />
        <label class="form__label" for="password">Password</label>
      </div>

      <p-button label="Sign up"
                styleClass="p-button-outlined form__submit"
                type="submit"
                [disabled]="!registerForm.valid || (response?.status | async) === Status.LOADING">
      </p-button>
    </form>
  </div>
</section>
