<div class="row">
  <div class="col-6 full-height p-0 d-flex align-items-center">
    <div class="row justify-content-center">
      <form class="col-xxl-9" (ngSubmit)="onSubmit()" #registerForm="ngForm">
        <div class="row justify-content-center py-4 bg-dark rounded-4">
          <div class="col-xxl-11" *ngIf="errorMessages.length">
            <p-messages [(value)]="errorMessages"
                        severity="error"
                        showTransitionOptions="500ms"
                        hideTransitionOptions="500ms"
                        [enableService]="false">
            </p-messages>
          </div>

          <div class="col-xxl-11 form-floating">
            <input [ngClass]="{
                      'form-control form-control-lg': true,
                      'is-invalid': firstName.invalid && (firstName.touched || firstName.dirty),
                      'border border-3 border-success': firstName.valid && (firstName.touched || firstName.dirty),
                      'input-success': firstName.valid && (firstName.touched || firstName.dirty)
                     }"
                   id="first-name"
                   name="firstName"
                   placeholder="John"
                   required
                   maxlength="50"
                   [(ngModel)]="user.firstName"
                   #firstName="ngModel"
                   autofocus/>
            <label for="first-name">First name</label>
            <small class="p-error" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">
              <div *ngIf="firstName.errors?.['required']">
                First name is required
              </div>
              <div *ngIf="firstName.errors?.['maxlength']">
                First name must be up to 50 characters long
              </div>
            </small>
          </div>
          <div class="col-xxl-11 form-floating mt-sm-1 mt-md-2 mt-lg-3 mt-xl-2 mt-xxl-3">
            <input [ngClass]="{
              'form-control form-control-lg': true,
              'is-invalid': lastName.invalid && (lastName.touched || lastName.dirty),
              'border border-3 border-success': lastName.valid && (lastName.touched || lastName.dirty),
              'input-success': lastName.valid && (lastName.touched || lastName.dirty)
              }"
                   id="last-name"
                   name="lastName"
                   placeholder="Doe"
                   required
                   maxlength="50"
                   [(ngModel)]="user.lastName"
                   #lastName="ngModel"/>
            <label for="last-name">Last name</label>
            <small class="p-error" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">
              <div *ngIf="lastName.errors?.['required']">
                Last name is required
              </div>
              <div *ngIf="lastName.errors?.['maxlength']">
                Last name must be up to 50 characters long
              </div>
            </small>
          </div>
          <div class="col-xxl-11 form-floating mt-sm-1 mt-md-2 mt-lg-3 mt-xl-2 mt-xxl-3">
            <input id="email"
                   [ngClass]="{
                     'form-control form-control-lg': true,
                     'is-invalid': email.invalid && (email.touched || email.dirty),
                     'border border-3 border-success': email.valid && (email.touched || email.dirty),
                     'input-success': email.valid && (email.touched || email.dirty)
                     }"
                   name="email"
                   placeholder="email@example.com"
                   minlength="5"
                   maxlength="100"
                   appEmail
                   required
                   [(ngModel)]="user.email"
                   #email="ngModel"/>
            <label for="email">Email</label>
            <small class="p-error" *ngIf="email.errors && (email.touched || email.dirty)">
              <div *ngIf="email.errors?.['required']">
                Email is required
              </div>
              <div *ngIf="email.errors?.['minlength'] || email.errors?.['maxlength']">
                Email must be within the range from 5 to 100 characters long
              </div>
              <div *ngIf="email.errors?.['isNotValid']">
                Email is not valid
              </div>
            </small>
          </div>
          <div class="col-xxl-11 form-floating mt-sm-1 mt-md-2 mt-lg-3 mt-xl-2 mt-xxl-3">
            <input [ngClass]="{
                'form-control form-control-lg': true,
                'is-invalid': password.invalid && (password.touched || password.dirty),
                'border border-3 border-success': password.valid && (password.touched || password.dirty),
                'input-success': password.valid && (password.touched || password.dirty)
               }"
                   id="password"
                   name="password"
                   type="password"
                   placeholder="password"
                   required
                   minlength="8"
                   appHasUpperCase
                   appHasLowerCase
                   appHasNumeric
                   [(ngModel)]="user.password"
                   #password="ngModel"/>
            <label for="password">Password</label>
            <small class="p-error" *ngIf="password.errors && (password.touched || password.dirty)">
              <div *ngIf="password.errors?.['required']">
                Password is required
              </div>
              <div *ngIf="password.errors?.['minlength']">
                Password must be at least 8 characters long
              </div>
              <div *ngIf="password.errors?.['hasUpperCase']">
                Password must contain at least 1 uppercase character
              </div>
              <div *ngIf="password.errors?.['hasLowerCase']">
                Password must contain at least 1 lowercase character
              </div>
              <div *ngIf="password.errors?.['hasNumeric']">
                Password must contain at least 1 digit
              </div>
            </small>
          </div>
          <div class="col-xxl-10 d-flex justify-content-center mt-sm-1 mt-md-2 mt-lg-3 mt-xl-3 mt-xxl-3">
            <p-button label="Sign up"
                      styleClass="p-button-outlined p-button-danger p-button-lg"
                      type="submit"
                      [loading]="(response?.status | async) === Status.LOADING"
                      [disabled]="!registerForm.valid || (response?.status | async) === Status.LOADING">
            </p-button>
          </div>
        </div>
      </form>

    </div>
  </div>
  <div class="col-6 p-0">
    <img class="full-height" style="width: 50vw"
         src="https://static.toiimg.com/thumb/msid-96714656,width-1280,resizemode-4/96714656.jpg">
  </div>
</div>
