<div class="position-relative" *ngIf="(response?.status | async) === Status.LOADING">
  <div class="loading-container">
    <app-loading [status$]="response.status" [labelShown]="false"></app-loading>
  </div>
</div>

<section class="section-signup">
  <div class="form-container">
    <form class="form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <div class="message-container">
        <p-messages [(value)]="errorMessages"
                    severity="error"
                    showTransitionOptions="500ms"
                    hideTransitionOptions="500ms"
                    [enableService]="false">
        </p-messages>
      </div>

      <div class="form__group">
        <small class="p-error" *ngIf="login.errors && (login.touched || login.dirty)">
          <span *ngIf="login.errors?.['required']">
            Login is required
          </span>
          <span *ngIf="login.errors?.['minlength']">
            Login must be at least 5 characters long
          </span>
        </small>
        <input class="form__input"
               id="login"
               name="login"
               placeholder="Login*"
               minlength="5"
               required
               [(ngModel)]="user.login"
               #login="ngModel" />
        <label class="form__label" for="login">
          Login
          <span class="text-red-600">*</span>
        </label>
      </div>

      <div class="form__group">
        <app-email-error-messages [email]="email"></app-email-error-messages>
        <input class="form__input"
               id="email"
               name="email"
               placeholder="Email*"
               minlength="5"
               maxlength="100"
               appEmail
               required
               [(ngModel)]="user.email"
               #email="ngModel" />
        <label class="form__label" for="email">
          Email
          <span class="text-red-600">*</span>
        </label>
      </div>

      <div class="form__group">
        <app-password-error-messages [password]="password">
        </app-password-error-messages>

        <input class="form__input"
               id="password"
               name="password"
               type="password"
               placeholder="Password*"
               required
               minlength="8"
               appHasUpperCase
               appHasLowerCase
               appHasNumeric
               [(ngModel)]="user.password"
               #password="ngModel" />
        <label class="form__label" for="password">
          Password
          <span class="text-red-600">*</span>
        </label>
      </div>

      <div class="form__group">
        <small class="p-error" *ngIf="user.password !== repeatPassword">
          Passwords don't match
        </small>
        <input class="form__input"
               id="repeat-password"
               name="repeat-password"
               type="password"
               placeholder="Repeat Password*"
               required
               [(ngModel)]="repeatPassword" />
        <label class="form__label" for="repeat-password">
          Repeat Password*
          <span class="text-red-600">*</span>
        </label>
      </div>

      <p-button label="Sign up"
                styleClass="p-button-outlined form__submit"
                type="submit"
                [disabled]="!registerForm.valid ||
                            user.password !== repeatPassword ||
                            (response?.status | async) === Status.LOADING">
      </p-button>
    </form>
  </div>
</section>
