@import "../../custom-bootstrap";

:host ::ng-deep {
  .p-element .p-carousel-content .p-carousel-container .p-carousel {
    position: relative;

    &-prev,
    &-next {
      position: absolute;
      height: 7.5rem;
      width: 7.5rem;
      background: radial-gradient(circle at center, var(--color-primary-light), var(--color-primary-dark));
      border: #190d1b 4px solid;
      color: white;
      z-index: $zindex-offcanvas-backdrop;
      transition: all .2s;
    }

    &-next {
      right: 25px;
    }

    &-prev {
      left: 25px;
    }

    &-prev:hover,
    &-next:hover {
      border: white 4px solid;
    }

    &-prev-icon {
      font-size: 3em;
    }

   & .p-disabled {
      display: none;
    }
  }
}
