:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
  position: absolute;
  height: 5rem !important;
  width: 5rem !important;
  background: orangered !important;
  border: #190d1b 4px solid !important;
  color: white !important;
  z-index: 1000;
}

:host ::ng-deep .p-carousel-next {
  right: 0
}

:host ::ng-deep .p-carousel-prev:hover,
:host ::ng-deep .p-carousel-next:hover {
  border: white 4px solid !important;
}

:host ::ng-deep .p-carousel-prev-icon {
  font-size: 3em !important;
}

/*todo*/
:host ::ng-deep .p-disabled {
  display: none !important;
}

.carousel-img {
  height: calc(100vh - 60px);
  min-width: 350px;
  max-width: 350px;
}

.film-name:hover {
  background: -webkit-linear-gradient(orangered, #ff001b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blurred {
  filter: blur(7px) brightness(50%);
}

.poster-content {
  position: relative;
  bottom: 90vh;
}

.fa-play,
.fa-info {
  padding: 10px 15px;
  background: #1d2327;
  border-radius: 5px;
}

.fa-play:hover,
.fa-info:hover {
 background: orangered;
}

.cl-orangered {
  color: orangered;
}

.cl-white-hover:hover {
  color: white;
}
