:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
  position: absolute;
  height: 5rem !important;
  width: 5rem !important;
  background: var(--primary-red) !important;
  border: #190d1b 4px solid !important;
  color: white !important;
  z-index: 1000;
}

:host ::ng-deep .p-carousel-next {
  right: 0
}

:host ::ng-deep .p-carousel-prev:hover,
:host ::ng-deep .p-carousel-next:hover {
  border: white 4px solid !important;
}

:host ::ng-deep .p-carousel-prev-icon {
  font-size: 3em !important;
}

/*todo*/
:host ::ng-deep .p-disabled {
  display: none !important;
}

.fa-play,
.fa-info {
  padding: 10px 15px;
  background: #1d2327;
  border-radius: 5px;
}

.fa-play:hover,
.fa-info:hover {
  background: var(--primary-red);
}

.cl-white-hover:hover {
  color: white;
}

.title:hover {
  color: var(--primary-red)!important;
}

.blurred {
  filter: blur(7px) brightness(50%);
}

.film-title {
  top: calc(100% - 120px);
  left: 20px;
  right: 20px;
}
