:host ::ng-deep .p-carousel-prev,
:host ::ng-deep .p-carousel-next {
  position: absolute;
  height: 5.5rem !important;
  width: 5.5rem !important;
  background: var(--primary-red) !important;
  border: #190d1b 4px solid !important;
  color: white !important;
  z-index: 11;
}

:host ::ng-deep .p-carousel-next {
  right: 25px;
}

:host ::ng-deep .p-carousel-prev {
  left: 25px;
}


:host ::ng-deep .p-carousel-prev:hover,
:host ::ng-deep .p-carousel-next:hover {
  border: white 4px solid !important;
}

:host ::ng-deep .p-carousel-prev-icon {
  font-size: 3em !important;
}

/*todo*/
:host ::ng-deep .p-disabled {
  display: none !important;
}
