:host ::ng-deep {
  // MENU
  .p-tabmenu {
    padding: 1rem 3rem 0 3rem;

    & .p-tabmenu-nav {
      & .p-tabmenuitem {
        & .p-menuitem-icon {
          font-size: 2rem;
        }

        & .p-menuitem-link {
          font-size: 2rem;
          font-weight: 400;
          letter-spacing: 1px;

          &-active {
            color: var(--color-primary);
          }
        }
      }

      & .p-tabmenu-ink-bar {
        background-color: var(--color-primary);
      }
    }
  }

  // DATATABLE
  .p-datatable-table {
    min-height: 40rem;

    & .p-datatable-thead {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--color-grey-light-3);
      text-transform: uppercase;
      letter-spacing: 2px;

      & > tr > th {
        padding: 1.5rem;

        & .p-column-filter-row {
          & p-columnfilterformelement {
            display: flex;
            justify-content: end;
          }

          & .p-inputtext:focus {
            border-color: var(--color-primary);
            box-shadow: 0 0 1rem rgba(var(--color-primary-rgb), .2);
          }
        }
      }
    }

    & .p-datatable-tbody {
      font-size: 1.4rem;
      color: var(--color-grey-light-1);

      & > tr {
        border-color: var(--color-grey-light-3);

        &:nth-child(2n) {
          background: var(--color-grey-dark-2);
        }

        &:hover {
          background: var(--color-grey-dark-1);
        }

        & > td {
          padding: 1.5rem;
          max-width: 20rem;
        }
      }
    }
  }

  .btn-action {
    border-radius: 10rem;
    transition: all .3s;

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(-1px);
    }

    & span {
      font-size: 1.5rem;
    }
  }
}
