<div class="position-relative" *ngIf="(filmsPage$?.status | async) === Status.LOADING">
  <div class="loading-container">
    <app-loading [status$]="filmsPage$.status"
                 collection="films">
    </app-loading>
  </div>
</div>

<section class="section-films">
  <h2 class="heading-2 mb-4">Films</h2>
    <p-table #filmsTable
             [value]="filmsCached"
             [scrollable]="true"
             scrollHeight="60rem"
             [paginator]="true"
             [rows]="10"
             [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[5, 10, 15]"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} films"
             [globalFilterFields]="['title']"
             [filterDelay]="100"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <span class="p-input-icon-left ml-auto">
                <i class="pi pi-search"></i>
                <input pInputText
                       type="text"
                       (input)="applyFilterGlobal($event, 'contains')"
                       placeholder="Search keyword" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">
            <span>Poster</span>
          </th>
          <th scope="col" pSortableColumn="title">
            <span>Title</span>
            <p-sortIcon field="title"></p-sortIcon>
          </th>
          <th scope="col" pSortableColumn="start-release">
            <span>Start Release</span>
            <p-sortIcon field="start-release"></p-sortIcon>
          </th>
          <th scope="col" pSortableColumn="end-release">
            <span>End Release</span>
            <p-sortIcon field="end-release"></p-sortIcon>
          </th>
          <th scope="col">
            <span>Enabled</span>
            <p-columnFilter type="boolean" field="enabled"></p-columnFilter>
          </th>
          <th scope="col">
            <span>Actions</span>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-film>
        <tr>
          <td>
            <img [src]="film.posterUrl"
                 class="film__poster"
                 [alt]="film.title"
            >
          </td>
          <td>
            <h1 class="film__title heading-1">{{ film.title }}</h1>
          </td>
          <td>
            <span class="film__start-release">{{ film.startReleaseAt | date:'mediumDate' }}</span>
          </td>
          <td>
            <span class="film__end-release">{{ film.endReleaseAt | date:'mediumDate' }}</span>
          </td>
          <td>
            <p-button
              icon="pi pi-{{film.enabled ? 'check' : 'times'}}"
              styleClass="p-button-outlined
                          p-button-{{film.enabled ? 'success text-green-500' : 'danger text-red-500'}}
                          btn-action"
              (click)="toggleState(film)"
              pTooltip="Film is {{film.enabled ? 'active' : 'disabled'}}"
              tooltipPosition="top"
              [loading]="(toggleEnabledFilm$?.status | async) === Status.LOADING">
            </p-button>
          </td>
          <td>
            <p-button pRipple
                      icon="pi pi-pencil"
                      styleClass="p-button-success btn-action me-2"
                      (click)="edit(film.id)"
                      pTooltip="Edit film"
                      tooltipPosition="top">
            </p-button>
            <p-button pRipple
                      icon="pi pi-trash"
                      styleClass="p-button-danger btn-action"
                      (click)="delete(film)"
                      pTooltip="Delete film"
                      tooltipPosition="top"
                      [loading]="(deleteFilm$?.status | async) === Status.LOADING">
            </p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">No films found.</td>
        </tr>
      </ng-template>
    </p-table>
</section>

<p-confirmDialog #cd [closeOnEscape]="true" [style]="{width: '50vw'}">
  <ng-template pTemplate="header">
    <h3>Confirmation</h3>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button label="No" icon="pi pi-times" styleClass="btn-secondary" (click)="cd.reject()"></p-button>
    <p-button label="Yes" icon="pi pi-check" styleClass="btn-primary" (click)="cd.accept()"></p-button>
  </ng-template>
</p-confirmDialog>
