<div class="table__container">
  <h2 class="heading-2">{{sectionName}}</h2>
  <a *ngIf="!(purchases$ | async)?.length"
     class="message"
     routerLink="/">{{noPurchasesMessage}}</a>
  <ng-container *ngIf="purchases$ | async as purchases">
    <table *ngIf="purchases.length" class="table">
    <thead class="table__header">
    <tr>
      <th>Date of transaction</th>
      <th>Title</th>
      <th>Date of session</th>
      <th>Tickets</th>
      <th>Price</th>
      <th>Details</th>
    </tr>
    </thead>
    <tbody>
      <app-purchases-table-row *ngFor="let purchase of purchases"
                               [purchase]="purchase"
                               class="d-contents">
      </app-purchases-table-row>
    </tbody>
  </table>
  </ng-container>
</div>
