<button (click)="onShowSchedule()"
        class="btn btn-selection-date"
        pTooltip="Click to select date of showtimes"
        tooltipPosition="bottom">
  <div class="selected-date">
    <ng-container [ngSwitch]="getDateType(selectedDate)">
      <ng-template [ngIf]="isTodayOrFuture(selectedDate)">
        <ng-container *ngSwitchCase="'today'">Today</ng-container>
        <ng-container *ngSwitchCase="'tomorrow'">Tomorrow</ng-container>
        <ng-container *ngSwitchDefault>{{selectedDate | date:'EEE, MM/dd'}}</ng-container>
      </ng-template>
    </ng-container>
  </div>
  <ng-content></ng-content>
</button>

<div class="dates" [@openClosed]="isDaySelectionHidden ? 'closed' : 'open'">
  <ul class="dates__list">
    <li *ngFor="let date of dates"
        class="dates__item">
      <ng-container [ngSwitch]="getDateType(date)">
        <ng-template [ngIf]="isTodayOrFuture(date)">
          <button [ngClass]="{'text-white': isSameDay(date, selectedDate)}"
                  class="btn dates__btn"
                  (click)="onSelectDate(date)">
            <ng-container *ngSwitchCase="'today'">Today</ng-container>
            <ng-container *ngSwitchCase="'tomorrow'">Tomorrow</ng-container>
            <ng-container *ngSwitchDefault>{{date | date:'EEE, MM/dd'}}</ng-container>
          </button>
        </ng-template>
      </ng-container>
    </li>
    <li class="dates__item dates__item--message">Further schedule is not formed yet. See our news :-)</li>
  </ul>
</div>
