<header class="navbar navbar-expand-xxl navbar-nav-scroll navbar-dark bg-dark d-flex">
  <div>
    <button class="navbar-toggler p-2 bd-highlight" type="button">
      <i class="fa-solid fa-bars"></i>
    </button>
  </div>
  <div>
    <a class="navbar-brand p-2 me-auto" routerLink="/">
      <img alt="Andromeda cinema" height="50" src="favicon.ico">
    </a>
  </div>
  <div id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Schedule</a>
      </li>
    </ul>
  </div>
  <div class="ms-auto">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-bell"></i>
        </a>
      </li>
      <li *ngIf="isAuthenticated$ | async" class="nav-item mx-2">
        <a [routerLink]="['user', 'tickets']" class="nav-link">
          <i class="bi bi-person"></i>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="register" class="nav-link">Sign up</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!(isAuthenticated$ | async)"
           class="nav-link bg-transparent border-0"
           routerLink="login">
          Log in
        </a>
        <button
          (click)="onLogout()"
          *ngIf="isAuthenticated$ | async"
          class="nav-link bg-transparent border-0">
          Log out
        </button>
      </li>
    </ul>
  </div>
</header>
