<header class="header">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__logo" routerLink="/">
          <img class="logo" src="assets/logo.png" alt="Andromeda cinema">
        </a>
      </li>
      <li class="nav__item nav__item--schedule">
        <a href="#" class="nav__link">Schedule</a>
      </li>
      <li class="nav__item nav__item--admin" *oktaHasAnyGroup="UserGroup.ADMIN">
        <a class="nav__link" [routerLink]="['admin', 'users']">Admin</a>
      </li>
      <li class="nav__item" *ngIf="isAuthenticated$ | async">
        <button class="btn nav__notifications">
          <i class="fas fa-bell"></i>
        </button>
      </li>
      <li class="nav__item nav__item--sign-up" *ngIf="!(isAuthenticated$ | async)">
        <a class="nav__link" routerLink="register">Sign up</a>
      </li>
      <li class="nav__item nav__item--profile" *ngIf="isAuthenticated$ | async">
        <a class="nav__link" [routerLink]="['user', 'tickets']">
          <i class="pi pi-user"></i>
        </a>
      </li>
      <li class="nav__item nav__item--login" *ngIf="!(isAuthenticated$ | async)">
        <a class="nav__link" routerLink="login">
          Log in
        </a>
      </li>
      <li class="nav__item" *ngIf="isAuthenticated$ | async">
        <button class="btn nav__logout" (click)="onLogout()">
          Log out
        </button>
      </li>
    </ul>
  </nav>
</header>
