<p-toast showTransformOptions="translateY(100%)"
         position="top-center"
         showTransitionOptions="500ms"
         hideTransitionOptions="500ms"
         hideTransformOptions="translateX(100%)">
</p-toast>
<div class="container-fluid overflow-x-hidden">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 py-0">
      <app-header></app-header>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-0">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
