<div (click)="onHideDaySelection($event)" class="poster"
     [ngStyle]="{'background-image':'url(' + poster.media.image + ')'}">
  <div class="poster__details">
    <a class="poster__details--info" [routerLink]="['/films', poster.filmId, 'info']">
      <i class="fa-solid fa-info"></i>
      <span>More details of film</span>
    </a>
  </div>
  <div class="poster__details">
    <button class="poster__details--trailer" (click)="triggerOpenTrailerEvent()">
      <i class="fa-solid fa-play"></i>
      <span>Watch trailer</span>
    </button>
  </div>
  <button (click)="onShowSchedule()" class="poster__day-selection">
    <ng-container [ngSwitch]="getDateType(selectedDate)">
      <ng-template [ngIf]="isTodayOrFuture(selectedDate)">
        <ng-container *ngSwitchCase="'today'">Today</ng-container>
        <ng-container *ngSwitchCase="'tomorrow'">Tomorrow</ng-container>
        <ng-container *ngSwitchDefault>{{selectedDate | date:'EEE, MM/dd'}}</ng-container>
      </ng-template>
    </ng-container>
  </button>
  <div [ngClass]="{'poster__dates-box': true, 'd-none': isDaySelectionHidden}"
       [@openClosed]="isDaySelectionHidden ? 'closed' : 'open'">
    <ul class="poster__dates-list">
      <li (click)="onSelectDate(date)"
          *ngFor="let date of selectDates"
          class="poster__date-item">
        <ng-container [ngSwitch]="getDateType(date)">
          <ng-template [ngIf]="isTodayOrFuture(date)">
            <button [ngClass]="{
                            'text-white': isSameDay(date, selectedDate)
                          }"
                    class="poster__date-btn">
              <ng-container *ngSwitchCase="'today'">Today</ng-container>
              <ng-container *ngSwitchCase="'tomorrow'">Tomorrow</ng-container>
              <ng-container *ngSwitchDefault>{{date | date:'EEE, MM/dd'}}</ng-container>
            </button>
          </ng-template>
        </ng-container>
      </li>
      <p>Further schedule is not formed yet. See our news :-)</p>
    </ul>
  </div>
  <p class="poster__schedule-text">Schedule</p>
  <div *ngIf="sessions" class="poster__sessions">
    <ng-template [ngForOf]="sessionsSorted()" let-session ngFor>
      <a *ngIf="isSameDay(session.startAt, selectedDate)"
         [routerLink]="['/films', poster.filmId, 'sessions', session.id]"
         class="poster__session-link"
         [ngClass]="{'pe-none text-secondary': isSessionWithinPastThirtyMinutes(session)}"
         pTooltip="From {{session.minPrice}} UAH"
         tooltipPosition="bottom"
         tooltipStyleClass="tooltip"
      >
        {{session.startAt | date: 'HH:mm'}}
      </a>
    </ng-template>
  </div>
  <a class="poster__title animate__animated animate__fadeInDown" [routerLink]="['/films', poster.filmId, 'info']">
    {{poster.title}}
  </a>
</div>
