<div class="poster"
     [ngStyle]="{'background-image':'url(' + poster.media.poster + ')'}"
     (click)="onHideDaySelection($event)"
     (mouseleave)="hideDaySelection()">

  <div class="poster__details">
    <a class="poster__details--info" [routerLink]="['/films', poster.filmId, 'info']">
      <i class="fa-solid fa-info"></i>
      <span>More details of film</span>
    </a>
  </div>

  <div class="poster__details">
    <button class="btn poster__details-trailer" (click)="triggerOpenTrailerEvent()">
      <i class="fa-solid fa-play"></i>
      <span>Watch trailer</span>
    </button>
  </div>

  <div class="poster__selection-date">
    <app-date-dropdown [sessions]="sessions"
                       (selectDate)="selectDate($event)">
    </app-date-dropdown>
  </div>

  <p class="poster__schedule-text">Schedule</p>
  <div *ngIf="sessions" class="poster__sessions">
    <ng-template [ngForOf]="sessions" let-session ngFor>
      <a *ngIf="isSameDay(session.startAt, selectedDate)"
         [routerLink]="['/films', poster.filmId, 'sessions', session.id]"
         class="poster__session-link"
         [ngClass]="{'pe-none text-secondary': isSessionWithinPastThirtyMinutes(session)}"
         pTooltip="From {{session.minPrice}} UAH"
         tooltipPosition="bottom"
      >
        {{session.startAt | date: 'HH:mm'}}
      </a>
    </ng-template>
  </div>

  <a class="poster__title animate__animated animate__fadeInDown" [routerLink]="['/films', poster.filmId, 'info']">
    {{poster.title}}
  </a>
</div>
