@import "../../../custom-bootstrap";

$bg-input-field: rgba(var(--color-grey-dark-1-rgb), .25);

@mixin input-field {
  background: $bg-input-field;
  font-size: 1.6rem;
  letter-spacing: 1px;
}

@mixin dropdown-item {
  span {
    font-size: 1.4rem;
    letter-spacing: 1px;
  }
}

@mixin btn-primary-bg {
  background-color: var(--color-primary);

  &:hover,
  &:active,
  &:focus {
    background-color: var(--color-primary-dark);
  }
}

:host ::ng-deep {
  .p-steps-title {
    font-size: 2rem;
  }

  .p-menuitem-link {
    cursor: pointer;
    transition: all .3s !important;

    &:hover {
      transform: scale(1.2);
      background-color: var(--color-grey-dark-1);
    }
  }

  .p-calendar-w-btn,
  .p-inputtext,
  .p-inputnumber {
    @include input-field;
    width: 100%;
  }

  .p-fileupload {
    &-buttonbar,
    &-content {
      @include input-field;
    }
  }

  .p-datepicker .p-yearpicker .p-yearpicker-year {
    padding: 1.5rem .5rem;
  }

  .p-dropdown {
    background: $bg-input-field;
    width: 20rem;

    &-item {
      @include dropdown-item;
    }

    &-item-box {
      @include dropdown-item;

      img {
        height: 15px;
        width: 25px
      }
    }
  }

  .p-autocomplete {
    &-loader {
      margin-right: 15px;
      color: var(--color-primary);
    }

    &-panel {
      .autocomplete-item {
        display: flex;
        align-items: center;
        grid-column-gap: 1rem;

        img {
          display: inline-block;
          width: 4rem;
          background-size: cover;
          border-radius: $border-radius-lg
        }

        span {
          font-size: 1.4rem;
        }
      }
    }
  }

  .btn-nav {
    @include btn-primary-bg;
    position: fixed;
    bottom: 8%;
  }

  .btn-left {
    left: 8rem;
  }

  .btn-right {
    right: 8rem;
  }

  .btn-submit {
    @include btn-primary-bg;
    display: block;
    font-size: 1.5rem;
    height: 4rem;
    width: 10rem;
    margin: 0 auto;
    transition: all .3s;

    &:hover {
      transform: translateY(-2px) scale(1);
    }

    &:active {
      transform: translateY(-1px) scale(.95);
    }
  }

  .p-error {
    font-size: 1.4rem;
  }
}

.section-add-film {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/assets/bg-add-film-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  min-height: 90vh;

  padding: 0 5rem;
}

.form {
  height: 100vh;
  overflow-y: scroll;

  /* Hide scrollbar for Chrome, Safari and Opera */
  -ms-overflow-style: none;
  scrollbar-width: none;

  /* Hide scrollbar for IE, Edge and Firefox */
  &::-webkit-scrollbar {
    display: none;
  }

  &__legend {
    color: var(--color-grey-light-1);
    text-align: center;
    font-size: 2.3rem;
    font-weight: 300;
    letter-spacing: 3px;
  }

  fieldset {
    display: grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr;
    grid-row-gap: 4rem;
    align-items: center;
    padding: 0 30rem 10rem;
  }

  &__group {
    display: grid;

    &:nth-child(2n + 1) {
      animation: lightSpeedInLeft;
      animation-duration: .8s;
    }

    &:nth-child(2n) {
      animation: lightSpeedInRight;
      animation-duration: .8s;
    }

    &--active {
      border: 1px solid var(--color-primary-dark);
    }
  }

  &__label {
    &-number {
      font-size: 1.7rem;
      color: var(--color-primary-dark);
      font-weight: 500;
    }

    &-key {
      color: var(--color-grey-light-1);
      font-size: 1.65rem;
      font-weight: 400;
      letter-spacing: 2px;
    }
  }

  &__input {
    @include input-field;
  }
}

.array-controls {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
  grid-auto-columns: minmax(0, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;

  & div {
    display: flex;
    grid-gap: 1rem;
    align-items: center;
  }
}

.session-controls {
  display: grid;
  grid-row-gap: 1rem;

  & .session-group {
    display: flex;
    grid-gap: 1rem;
    align-items: center;

    &__label {
      font-size: 1.3rem;
      font-style: italic;
      color: var(--color-grey-light-1);
      margin-bottom: .4rem;
    }
  }
}

.trailer-preview {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  & iframe {
    height: 40rem;
    width: 100%;
  }
}
