.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/assets/bg-add-film-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  min-height: 90vh;
}
