<section class="section-add-film">
  <p-steps [model]="items"
           [(activeIndex)]="activeStep"
           (activeIndexChange)="setStepToLocalStorage()"
           [readonly]="false">
  </p-steps>

  <p-button label="Next"
            icon="pi pi-arrow-right"
            iconPos="right"
            (click)="onMove(1)"
            styleClass="btn-nav btn-right p-button-lg"
            *ngIf="activeStep !== items.length - 1">
  </p-button>
  <p-button label="Back"
            icon="pi pi-arrow-left"
            (click)="onMove(-1)"
            styleClass="btn-nav btn-back p-button-lg"
            *ngIf="activeStep !== 0">
  </p-button>

  <form class="form" [formGroup]="filmForm" (ngSubmit)="onSubmit()">
    <fieldset formGroupName="generalInformation"
              [ngClass]="{'d-none': activeStep !== 0}">
      <legend class="form__legend">General Information</legend>
      <div class="form__group">
        <label for="title" class="form__label">
          <span class="form__label-number">1.</span>
          <span class="form__label-key">Title</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('generalInformation.title') as titleControl">
          <small *ngIf="titleControl.invalid &&
            (titleControl.dirty || titleControl.touched)" class="p-error">
          <span *ngIf="titleControl.errors?.['required']">
            Title is required
          </span>
          </small>
        </ng-container>

        <input pInputText
               id="title"
               formControlName="title"
               class="form__input"
               autofocus>
      </div>

      <div class="form__group">
        <label for="description" class="form__label">
          <span class="form__label-number">2.</span>
          <span class="form__label-key">Description</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('generalInformation.description') as descriptionControl">
          <small *ngIf="descriptionControl.invalid &&
            (descriptionControl.dirty || descriptionControl.touched)"
                 class="p-error">
            <span *ngIf="descriptionControl.errors?.['required']">
              Description is required
            </span>
          </small>
        </ng-container>

        <textarea class="form__input"
                  pInputTextarea
                  rows="5"
                  formControlName="description"
                  id="description">
        </textarea>
      </div>

      <div class="form__group" formArrayName="genres">
        <label class="form__label">
          <span class="form__label-number">3.</span>
          <span class="form__label-key">Genres</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('generalInformation.genres') as genresControl">
          <small *ngIf="genresControl.invalid &&
            (genresControl.dirty || genresControl.touched)" class="p-error">
            <span *ngIf="genresControl.errors?.['required']">
              Add at least 1 genre
            </span>
          </small>
        </ng-container>

        <div class="array-controls">
          <div *ngFor="let _ of genres.controls; let i=index">
            <p-dropdown [options]="(suggestedGenres$ | async) ?? []"
                        inputId="genre--{{i}}"
                        placeholder="Select a Genre"
                        [filter]="true"
                        [formControlName]="i">
            </p-dropdown>
            <p-button icon="pi pi-times"
                      styleClass="p-button-rounded p-button-danger p-button-text p-button-raised p-button-lg"
                      (click)="deleteFormControlAt('genres', i)">
            </p-button>
          </div>
        </div>
        <div class="d-inline-block">
          <p-button icon="pi pi-plus"
                    label="Add genre"
                    styleClass="p-button-rounded p-button-success p-button-text p-button-raised p-button-lg"
                    (click)="addGenre()">
          </p-button>
        </div>
      </div>

      <div class="form__group">
        <label for="duration" class="form__label">
          <span class="form__label-number">4.</span>
          <span class="form__label-key">Duration</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('generalInformation.duration') as durationControl">
          <small *ngIf="durationControl.invalid &&
            (durationControl.dirty || durationControl.touched)" class="p-error">
            <span *ngIf="durationControl.errors?.['required']">
              Duration is required
            </span>

            <span *ngIf="durationControl.errors?.['min']">
              Duration should be a positive number
            </span>
          </small>
        </ng-container>

        <p-inputNumber inputId="duration"
                       formControlName="duration"
                       suffix=" minutes"
                       [showButtons]="true"
                       buttonLayout="horizontal"
                       [min]="1">
        </p-inputNumber>
      </div>

      <div class="form__group">
        <label for="production-year" class="form__label">
          <span class="form__label-number">5.</span>
          <span class="form__label-key">Production Year</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('generalInformation.productionYear') as productionYearControl">
          <small *ngIf="productionYearControl.invalid &&
            (productionYearControl.dirty || productionYearControl.touched)" class="p-error">
            <span *ngIf="productionYearControl.errors?.['required']">
              Production year is required
            </span>

            <span *ngIf="productionYearControl.errors?.['min']">
              Production year must be greater than 1895
            </span>
          </small>
        </ng-container>

        <p-calendar view="year"
                    dateFormat="yy"
                    inputId="production-year"
                    [showIcon]="true"
                    formControlName="productionYear">
        </p-calendar>
      </div>

      <div class="form__group" formArrayName="countries">
        <label class="form__label">
          <span class="form__label-number">6.</span>
          <span class="form__label-key">Countries</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('generalInformation.countries') as countriesControl">
          <small *ngIf="countriesControl.invalid &&
            (countriesControl.dirty || countriesControl.touched)" class="p-error">
            <span *ngIf="countriesControl.errors?.['required']">
              Add at least 1 country
            </span>
          </small>
        </ng-container>

        <div class="array-controls">
          <div *ngFor="let _ of countries.controls; let i=index">
            <p-dropdown [options]="(suggestedCountries$ | async) ?? []"
                        optionValue="name"
                        optionLabel="name"
                        inputId="country--{{i}}"
                        placeholder="Select a Country"
                        [virtualScroll]="true"
                        [virtualScrollItemSize]="35"
                        [filter]="true"
                        [formControlName]="i">
              <ng-template let-country pTemplate="item">
                <div class="p-dropdown-item-box">
                  <img [src]="country.flag.png" [alt]="country.flag.alt">
                  <span>{{ country.name }}</span>
                </div>
              </ng-template>
              <ng-template let-country pTemplate="selectedItem">
                <div class="p-dropdown-item-box">
                  <img [src]="country.flag.png" [alt]="country.flag.alt">
                  <span>{{ country.name }}</span>
                </div>
              </ng-template>
            </p-dropdown>
            <p-button icon="pi pi-times"
                      styleClass="p-button-rounded p-button-danger p-button-text p-button-raised p-button-lg"
                      (click)="deleteFormControlAt('countries', i)">
            </p-button>
          </div>
        </div>

        <div class="d-inline-block">
          <p-button icon="pi pi-plus"
                    label="Add country"
                    styleClass="p-button-rounded p-button-success p-button-text p-button-raised p-button-lg"
                    (click)="addCountry()">
          </p-button>
        </div>
      </div>
    </fieldset>

    <fieldset formGroupName="crew"
              [ngClass]="{'d-none': activeStep !== 1}">
      <legend class="form__legend">Crew</legend>

      <div class="form__group" formArrayName="directors">
        <label class="form__label">
          <span class="form__label-number">7.</span>
          <span class="form__label-key">Director</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('crew.directors') as directorControl">
          <small *ngIf="directorControl.invalid &&
            (directorControl.dirty || directorControl.touched)" class="p-error">
          <span *ngIf="directorControl.errors?.['required']">
            Add at least 1 director
          </span>
          </small>
        </ng-container>

        <div class="array-controls">
          <div *ngFor="let _ of directors.controls; let i=index">
            <p-autoComplete inputId="director--{{i}}"
                            styleClass="form__input"
                            placeholder="Director"
                            [minLength]="4"
                            [suggestions]="suggestedCrewMembers"
                            (completeMethod)="filterPeople($event)"
                            [dropdown]="true"
                            [formControlName]="i"
                            [showClear]="true"
                            [showEmptyMessage]="true"
                            emptyMessage="No people found"
                            field="name">

              <ng-template let-crewMember pTemplate="item">
                <div class="autocomplete-item">
                  <img [src]="crewMember.imgUrl" />
                  <span>{{ crewMember.name }}</span>
                </div>
              </ng-template>

            </p-autoComplete>
            <p-button icon="pi pi-times"
                      styleClass="p-button-rounded p-button-danger p-button-text p-button-raised p-button-lg"
                      (click)="deleteFormControlAt('directors', i)">
            </p-button>
          </div>
        </div>

        <div class="d-inline-block">
          <p-button icon="pi pi-plus"
                    label="Add Director"
                    styleClass="p-button-rounded p-button-success p-button-text p-button-raised p-button-lg"
                    (click)="addDirector()">
          </p-button>
        </div>
      </div>

      <div class="form__group" formArrayName="screenwriters">
        <label class="form__label">
          <span class="form__label-number">8.</span>
          <span class="form__label-key">Screenwriter</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('crew.screenwriters') as screenwriterControl">
          <small *ngIf="screenwriterControl.invalid &&
            (screenwriterControl.dirty || screenwriterControl.touched)" class="p-error">
            <span *ngIf="screenwriterControl.errors?.['required']">
              Add at least 1 screenwriter
            </span>
          </small>
        </ng-container>

        <div class="array-controls">
          <div *ngFor="let _ of screenwriters.controls; let i=index">
            <p-autoComplete inputId="screenwriter--{{i}}"
                            styleClass="form__input"
                            placeholder="Screenwriter"
                            [minLength]="4"
                            [suggestions]="suggestedCrewMembers"
                            (completeMethod)="filterPeople($event)"
                            [formControlName]="i"
                            [showClear]="true"
                            [showEmptyMessage]="true"
                            emptyMessage="No people found"
                            field="name">
              <ng-template let-crewMember pTemplate="item">
                <div class="autocomplete-item">
                  <img [src]="crewMember.imgUrl" />
                  <span>{{ crewMember.name }}</span>
                </div>
              </ng-template>
            </p-autoComplete>

            <p-button icon="pi pi-times"
                      styleClass="p-button-rounded p-button-danger p-button-text p-button-raised p-button-lg"
                      (click)="deleteFormControlAt('screenwriters', i)">
            </p-button>
          </div>
        </div>

        <div class="d-inline-block">
          <p-button icon="pi pi-plus"
                    label="Add Screenwriter"
                    styleClass="p-button-rounded p-button-success p-button-text p-button-raised p-button-lg"
                    (click)="addScreenwriter()">
          </p-button>
        </div>
      </div>

      <div class="form__group" formGroupName="actors">
        <label class="form__label">
          <span class="form__label-number">9.</span>
          <span class="form__label-key">Actors</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('crew.actors') as actorsControl">
          <small *ngIf="actorsControl.invalid &&
            (actorsControl.dirty || actorsControl.touched)" class="p-error">
          <span *ngIf="actorsControl.errors?.['required']">
            Add at least 1 screenwriter
          </span>
          </small>
        </ng-container>

        <div class="array-controls">
          <div *ngFor="let _ of actors.controls; let i=index">
            <p-autoComplete inputId="actor--{{i}}"
                            styleClass="form__input"
                            placeholder="Actor"
                            [minLength]="4"
                            [suggestions]="suggestedCrewMembers"
                            (completeMethod)="filterPeople($event)"
                            [formControlName]="i"
                            [showClear]="true"
                            [showEmptyMessage]="true"
                            emptyMessage="No people found"
                            field="name">
              <ng-template let-crewMember pTemplate="item">
                <div class="autocomplete-item">
                  <img [src]="crewMember.imgUrl" />
                  <span>{{ crewMember.name }}</span>
                </div>
              </ng-template>
            </p-autoComplete>

            <p-button icon="pi pi-times"
                      styleClass="p-button-rounded p-button-danger p-button-text p-button-raised p-button-lg"
                      (click)="deleteFormControlAt('actors', i)">
            </p-button>
          </div>
        </div>

        <div class="d-inline-block">
          <p-button icon="pi pi-plus"
                    label="Add Actor"
                    styleClass="p-button-rounded p-button-success p-button-text p-button-raised p-button-lg"
                    (click)="addActor()">
          </p-button>
        </div>
      </div>
    </fieldset>

    <fieldset formGroupName="additionalInfo"
              [ngClass]="{'d-none': activeStep !== 2}">
      <legend class="form__legend">Additional Information</legend>
      <div class="form__group">
        <label for="title" class="form__label">
          <span class="form__label-number">10.</span>
          <span class="form__label-key">Language</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('additionalInfo.language') as languageControl">
          <small *ngIf="languageControl.invalid &&
            (languageControl.dirty || languageControl.touched)" class="p-error">
            <span *ngIf="languageControl.errors?.['required']">
              Language is required
            </span>
          </small>
        </ng-container>

        <input pInputText
               id="language"
               formControlName="language"
               class="form__input"
               autofocus>
      </div>

      <div class="form__group">
        <label for="age" class="form__label">
          <span class="form__label-number">11.</span>
          <span class="form__label-key">Age</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('additionalInfo.age') as ageControl">
          <small *ngIf="ageControl.invalid &&
            (ageControl.dirty || ageControl.touched)" class="p-error">
            <span *ngIf="ageControl.errors?.['required']">
              Age is required
            </span>
            <span *ngIf="ageControl.errors?.['min'] || ageControl.errors?.['max']">
              Age should be in range from 0 to 18
            </span>
          </small>
        </ng-container>

        <p-inputNumber inputId="age"
                       [showButtons]="true"
                       buttonLayout="horizontal"
                       [min]="0"
                       [max]="21"
                       formControlName="age">
        </p-inputNumber>
      </div>

      <div class="form__group">
        <label for="start-release" class="form__label">
          <span class="form__label-number">12.</span>
          <span class="form__label-key">Start Realease</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('additionalInfo.startReleaseAt') as startReleaseControl">
          <small *ngIf="startReleaseControl.invalid &&
            (startReleaseControl.dirty || startReleaseControl.touched)" class="p-error">
            <span *ngIf="startReleaseControl.errors?.['required']">
              Start Release is required
            </span>
          </small>
        </ng-container>

        <p-calendar inputId="start-release"
                    [showIcon]="true"
                    [showButtonBar]="true"
                    [selectOtherMonths]="true"
                    [minDate]="now"
                    styleClass="form__input"
                    formControlName="startReleaseAt">
        </p-calendar>
      </div>

      <div class="form__group">
        <label for="end-release" class="form__label">
          <span class="form__label-number">13.</span>
          <span class="form__label-key">End Realease</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('additionalInfo.endReleaseAt') as endReleaseControl">
          <small *ngIf="endReleaseControl.invalid &&
            (endReleaseControl.dirty || endReleaseControl.touched)" class="p-error">
            <span *ngIf="endReleaseControl.errors?.['required']">
              End Release is required
            </span>
            <span *ngIf="endReleaseControl.errors?.['isFuture']">
              End Release must be future date
            </span>
          </small>
        </ng-container>

        <p-calendar inputId="end-release"
                    [showIcon]="true"
                    [showButtonBar]="true"
                    [selectOtherMonths]="true"
                    [minDate]="now"
                    styleClass="form__input"
                    formControlName="endReleaseAt">
        </p-calendar>
      </div>

      <ng-container formGroupName="media">
        <div class="form__group">
          <label for="poster" class="form__label">
            <span class="form__label-number">14.</span>
            <span class="form__label-key">Poster</span>
            <span class="text-red-600">*</span>
          </label>

          <ng-container *ngIf="filmForm.get('additionalInfo.media.poster') as posterControl">
            <small *ngIf="posterControl.invalid &&
            (posterControl.dirty || posterControl.touched)" class="p-error">
              <span *ngIf="posterControl.errors?.['required']">
                Poster is required
              </span>
            </small>
          </ng-container>

          <p-fileUpload #posterUpload
                        id="poster"
                        accept="image/*"
                        [maxFileSize]="10000000"
                        [previewWidth]="100"
                        [customUpload]="true"
                        [showCancelButton]="false"
                        [auto]="true"
                        (uploadHandler)="uploadFile($event)"
                        styleClass="form__input">
          </p-fileUpload>
        </div>
        <div class="form__group">
          <label for="trailer" class="form__label">
            <span class="form__label-number">15.</span>
            <span class="form__label-key">Trailer</span>
            <span class="text-red-600">*</span>
          </label>

          <ng-container *ngIf="filmForm.get('additionalInfo.media.trailer') as trailerControl">
            <small *ngIf="trailerControl.invalid &&
            (trailerControl.dirty || trailerControl.touched)" class="p-error">
              <span *ngIf="trailerControl.errors?.['required']">
                Trailer is required
              </span>
            </small>
          </ng-container>

          <input pInputText
                 id="trailer"
                 class="form__input"
                 formControlName="trailer">

          <iframe *ngIf="filmForm.get('additionalInfo.media.trailer')?.value as trailer"
                  [src]="trailer | safe">
          </iframe>
        </div>
      </ng-container>
      <button type="submit">Submit</button>
    </fieldset>

    <fieldset formArrayName="sessions" [ngClass]="{'d-none': activeStep !== 3}">
      <legend class="form__legend">Sessions</legend>
      <div class="form__group">
        <label class="form__label">
          <span class="form__label-number">16.</span>
          <span class="form__label-key">Sessions</span>
          <span class="text-red-600">*</span>
        </label>

        <ng-container *ngIf="filmForm.get('sessions') as sessionControl">
          <small *ngIf="sessionControl.invalid &&
            (sessionControl.dirty || sessionControl.touched)" class="p-error">
          <span *ngIf="sessionControl.errors?.['required']">
            Add at least 1 session
          </span>
          </small>
        </ng-container>

        <div class="array-controls">
          <div *ngFor="let _ of sessions.controls; let i=index">
            <div class="session-group">
              <div class="">
                <label for="start">Start</label>
                <p-calendar inputId="start"
                            [showIcon]="true"
                            [showButtonBar]="true"
                            [selectOtherMonths]="true"
                            [minDate]="now"
                            styleClass="form__input"
                            formControlName="startAt">
                </p-calendar>
              </div>

              <div class="">
                <label for="hall">Hall</label>
                <p-inputNumber inputId="hall"
                               [showButtons]="true"
                               buttonLayout="horizontal"
                               [min]="1"
                               formControlName="hall">
                </p-inputNumber>
              </div>
              <div class="">
                <label for="good-row-price">Good row price</label>
                <p-inputNumber inputId="good-row-price"
                               [showButtons]="true"
                               prefix="₴"
                               buttonLayout="horizontal"
                               [min]="1"
                               formControlName="goodRowPrice">
                </p-inputNumber>
              </div>
              <div class="">
                <label for="lux-row-price">Lux row price</label>
                <p-inputNumber inputId="lux-row-price"
                               [showButtons]="true"
                               prefix="₴"
                               buttonLayout="horizontal"
                               [min]="1"
                               formControlName="luxRowPrice">
                </p-inputNumber>
              </div>
            </div>

            <p-button icon="pi pi-times"
                      styleClass="p-button-rounded p-button-danger p-button-text p-button-raised p-button-lg"
                      (click)="deleteFormControlAt('sessions',i)">
            </p-button>
          </div>
        </div>

        <div class="d-inline-block">
          <p-button icon="pi pi-plus"
                    label="Add Session"
                    styleClass="p-button-rounded p-button-success p-button-text p-button-raised p-button-lg"
                    (click)="addSession()">
          </p-button>
        </div>
      </div>
    </fieldset>
  </form>
</section>
