@import "../../custom-bootstrap";

.section-film-info {
  display: grid;
  position: relative;
  grid-template-columns: minmax(25rem, 18vw) auto;
  grid-column-gap: 4rem;
  padding: 2rem 5rem;

  .media {
    display: flex;
    flex-direction: column;
    grid-row-gap: 2rem;

    &__poster {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }

    &__trailer-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--color-grey-light-1);
      background-color: var(--color-grey-dark-1);
      border-radius: $border-radius-lg;
      transition: all .3s;
      height: 6rem;
      box-shadow: var(--box-shadow-1);

      &:hover {
        background-color: var(--color-primary);
        transform: translateY(-2px);
        box-shadow: var(--box-shadow-2);
      }

      &:active {
        transform: translateY(-1px);
      }

      i {
        font-size: 2.5rem;
        text-align: center;
      }

      span {
        margin-left: 1.5rem;
        font-size: 2rem;
      }
    }
  }
}

.nav {
  justify-content: center;
  transform: translateX(-18%);
  margin-bottom: 2rem;

  &__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    border: 1px solid var(--color-primary);
    padding: 1rem 3.5rem;
    transition: all .4s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba(255, 0, 27, .2);
  }

  &__link--active {
    background-color: var(--color-primary);
  }
}
