<div class="row position-sticky m-4" *ngIf="film$ | async as film">
  <div class="col-xxl-3">
    <img class="poster" src="{{film.media.image}}" alt="{{film.name}}">
    <button class="trailer-btn fw-bold text-white mt-3 d-flex justify-content-center">
      <i class="bi bi-play-fill fs-4 me-2 my-2"></i>
      <span class="align-self-center fs-5">Watch trailer</span>
    </button>
  </div>
  <div class="col-xxl-6 text-white">
    <h1>{{film.name}}</h1>
    <div class="row">
      <div class="col">Age:</div>
      <div class="col">16+</div>
    </div>
    <div class="row">
      <div class="col">Year:</div>
      <div class="col">{{film.productionYear}}</div>
    </div>
    <div class="row">
      <div class="col">Director:</div>
      <div class="col">{{film.director}}</div>
    </div>

    <div class="row">
      <div class="col">Rental period:</div>
      <div class="col">20.04.2022-23.01.2023</div>
    </div>
    <div class="row">
      <div class="col">Genre:</div>
      <div class="col">
        <ng-container *ngFor="let genre of film.genres">
          <a href="#" class="text-decoration-none text-white">{{genre.name}}</a>
          <span>, &nbsp;</span>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col">Duration:</div>
      <div class="col">{{film.duration}}</div>
    </div>
    <div class="row">
      <div class="col">Country:</div>
      <div class="col">
        <ng-container *ngFor="let country of film.countries">
          <span>{{country.name}}, &nbsp;</span>
        </ng-container>
      </div>
    </div>
    <div class="row">
      <div class="col">Actors:</div>
      <div class="col">
        <ng-container *ngFor="let actor of film.actors">
          <span>{{actor.fullName}}, &nbsp;</span>
        </ng-container>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-xxl-12">
        {{film.description}}
      </div>
    </div>
  </div>
</div>
